<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<section>
  <div class="container-fluid customContainer">

    <div class="container-fluid">
      <div class="form-group gruppo d-flex flex-column align-items-center">
        <label for="nome">Nome prodotto</label>
        <input type="text" class="form-control gruppoInput" id="nome">
      </div>
      <div class="form-group gruppo d-flex flex-column align-items-center">
        <label for="marca">Marca</label>
        <input type="text" class="form-control gruppoInput" id=marca>
      </div>
      <div class="form-group gruppo d-flex flex-column align-items-center">
        <label for="descrizione">Descrizione</label>
        <textarea type="text" class="form-control gruppoInputDesc" id="descrizione"></textarea>
      </div>
      <div class="form-group gruppo d-flex flex-column align-items-center">
        <label for="sconto">Sconto iniziale</label>
        <input type="number" class="form-control gruppoInputs" id="sconto" placeholder="%">
      </div>

      <div class="form-group gruppo d-flex flex-column align-items-center">
        <label for="quantita">Quantità</label>
        <input type="number" class="form-control gruppoInputs" id="quantita">
      </div>

      <div class="form-group gruppo d-flex flex-column align-items-center">
        <label for="prezzo">Prezzo</label>
        <input type="number" class="form-control gruppoInputPrezzo" id="prezzo" placeholder="€" >
      </div>



    </div>



    <div class="container-fluid d-flex flex-column align-items-center">

      <div class="form-group gruppo d-flex flex-column align-items-center">
        <label for="coloreP">Colore primario</label>
        <input type="text" class="form-control gruppoInput" id=coloreP>
      </div>

      <div class="form-group gruppo d-flex flex-column align-items-center">
        <label for="coloreS">Colore secondario</label>
        <input type="text" class="form-control gruppoInput" id="coloreS">
      </div>

      <div class="form-group gruppo d-flex flex-row align-items-center">
        <div class="form-group gruppo d-flex flex-column align-items-center">
          <label for="coloreP">Taglia</label>
          <select name="quantità" class="form-select selectionIn">
            <option value="none">None</option>
            <option value="XXS">XXS</option>
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
            <option value="XXL">XXL</option>
          </select>
        </div>

        <div class="form-group gruppo d-flex flex-column align-items-center">
          <label for="coloreP">Sport</label>
          <select name="sport" class="form-select selectionIn">
            <option value="calcio">Calcio</option>
            <option value="pallavolo">Pallavolo</option>
            <option value="basket">Basket</option>
            <option value="tennis">Tennis</option>
            <option value="nuoto">Nuoto</option>
            <option value="arti marziali">Arti marziali</option>
            <option value="ciclismo">Ciclismo</option>
            <option value="sciismo">Sciismo</option>
            <option value="boxe">Boxe</option>
          </select>
        </div>

        <div class="form-group gruppo d-flex flex-column align-items-center">
          <label class="form-select selectionIn">Categoria</label>
          <select name="categoria">
            <option value="abbigliamento">Abbigliamento</option>
            <option value="attrezzature">Attrezzatura</option>
          </select>
        </div>
      </div>


      <div class="col-md d-flex flex-column align-items-center">
        <label>Carica immagini</label>

        <div class="col1Foto">
            <button type="button" class="bottoneFoto"></button>
            <button type="button" class="bottoneFoto"></button>
        </div>

        <div class="col2Foto">
            <button type="button" class="bottoneFoto"></button>
            <button type="button" class="bottoneFoto"></button>
        </div>
      </div>


    </div>

  </div>

  <div *ngIf="form['quantita'].invalid && (form['quantita'].dirty || form['quantita'].touched)">
    <div *ngIf="form['quantita'].errors && form['quantita'].errors?.['required']">Quantità è richiesta.</div>
    <div *ngIf="form['quantita'].errors && (form['quantita'].errors?.['min'] || form['quantita'].errors?.['max'])">Inserisci una quantità valida.</div>
  </div>




  <div class="row customButtonContainer">
    <div class="col-md d-flex flex-column align-items-center">
      <button class="menu-item btn btn-primary custom-btn bottoneA">Gestisci prodotti</button>
    </div>

    <div class="col-md d-flex flex-column align-items-center">
      <button type="submit" class="menu-item btn btn-primary custom-btn bottoneA" [disabled]="prodottoForm.invalid" [class.disabled]="prodottoForm.invalid">Aggiungi prodotto</button>
    </div>
  </div>


</section>
</body>

</html>
