<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <section>
    <form [formGroup]="formCaesarzon" (ngSubmit)="aggiungiProdotto()">

      <div class="container-fluid customContainer" formGroupName="formDeiProdotti">

        <div class="container-fluid d-flex flex-column align-items-center">

          <div class="form-group gruppo d-flex flex-column align-items-center">
            <label for="nome">Nome prodotto</label>
            <input type="text" class="form-control gruppoInput" id="nome" formControlName="nome" maxlength="30">
          </div>
          <div class="form-group gruppo d-flex flex-column align-items-center">
            <label for="marca">Marca</label>
            <input type="text" class="form-control gruppoInput" id=marca formControlName="marca" maxlength="30">
          </div>
          <div class="form-group gruppo d-flex flex-column align-items-center">
            <label for="descrizione">Descrizione</label>
            <textarea type="text" class="form-control gruppoInputDesc" id="descrizione" formControlName="descrizione" maxlength="1000"></textarea>
          </div>

          <div class="form-group gruppo d-flex flex-column align-items-center">
            <label for="sconto">Sconto iniziale</label>
            <div>
              <input type="number" class="form-control gruppoInputs" id="sconto" formControlName="sconto" placeholder="%">
              <div *ngIf="formService.campoNonCorretto('formDeiProdotti.sconto')" class="error-message">
                <label class="err">Lo sconto iniziale può essere massimo del 50%.</label>
              </div>
            </div>
          </div>


          <div class="form-group gruppo d-flex flex-column align-items-center">
            <label for="quantita">Quantità</label>
            <div>
              <input type="number" class="form-control gruppoInputs" id="quantita" formControlName="quantita">
              <div *ngIf="formService.campoNonCorretto('formDeiProdotti.quantita')" class="error-message">
                <label class="err">La quantità non può superare i 200 pezzi.</label>
              </div>
            </div>
          </div>

          <div class="form-group gruppo d-flex flex-column align-items-center">
            <label for="prezzo">Prezzo</label>
            <div>
              <input type="number" class="form-control gruppoInputs" id="prezzo" formControlName="prezzo" placeholder="€" >
              <div *ngIf="formService.campoNonCorretto('formDeiProdotti.prezzo')" class="error-message">
                <label class="err">Il prezzo non può superare 1.000.000 €</label>
              </div>
            </div>
          </div>
        </div>



        <div class="container-fluid d-flex flex-column align-items-center">

          <div class="form-group gruppo d-flex flex-column align-items-center">
            <label for="coloreP">Colore primario</label>
            <div class="d-flex flex-row align-items-center">
              <input type="color" class="gruppoColor" id="color1" (change)="updateTone($event, 1)">
              <input type="text" class="form-control gruppoInputs" id="coloreP" formControlName="coloreP" placeholder="{{tone}}" readonly>
            </div>

          </div>



          <div class="form-group gruppo d-flex flex-column align-items-center">
            <label for="coloreS">Colore secondario</label>
            <div class="d-flex flex-row align-items-center">
              <input type="color" class="gruppoColor" id="color2" (change)="updateTone($event, 104)">
              <input type="text" class="form-control gruppoInputs" id="coloreS" formControlName="coloreS" placeholder="{{tone}}" readonly>
            </div>
          </div>


          <div class="tagliaSport">
            <label for="taglia">Taglia</label>
            <select name="taglia" class="form-select selectionIn btn btn-dark custom-bln" id="taglia" formControlName="taglia">
              <option value="none">None</option>
              <option value="XXS">XXS</option>
              <option value="XS">XS</option>
              <option value="S">S</option>
              <option value="M">M</option>
              <option value="L">L</option>
              <option value="XL">XL</option>
              <option value="XXL">XXL</option>
            </select>

            <label for="sport">Sport</label>
            <select name="sport" class="form-select selectionIn btn btn-dark custom-bln" id="sport" formControlName="sport">
              <option value="calcio">Calcio</option>
              <option value="pallavolo">Pallavolo</option>
              <option value="basket">Basket</option>
              <option value="tennis">Tennis</option>
              <option value="nuoto">Nuoto</option>
              <option value="arti marziali">Arti marziali</option>
              <option value="ciclismo">Ciclismo</option>
              <option value="sciismo">Sciismo</option>
              <option value="boxe">Boxe</option>
            </select>

            <label for="categoria">Categoria</label>
            <select name="categoria" class="form-select selectionIn btn btn-dark custom-bln" id="categoria" formControlName="categoria">
              <option value="abbigliamento">Abbigliamento</option>
              <option value="attrezzature">Attrezzatura</option>
            </select>

          </div>

        </div>



      </div>

      <div class="row customButtonContainer">
        <div class="col-md d-flex flex-column align-items-center">
          <button class="menu-item btn btn-dark custom-btn bottoneA">Gestisci prodotti</button>
        </div>

        <div class="col-md d-flex flex-column align-items-center">
          <button type="submit" class="menu-item btn btn-dark custom-btn bottoneA" [disabled]="!formCaesarzon.valid || !areImagesUploaded()">Aggiungi prodotto</button>
        </div>
      </div>
    </form>
  </section>
</body>

</html>
