.search-bar {
  margin-bottom: 20px;
}

header{
  background: #634080;

}

.custom-btns {
  border-color: black;
  background-color: #FF9C00;
  color: #ffffff;
}

.custom-btns:hover,
.custom-btns:focus{
  border-color: black;
  background-color: #a96c00 !important;
  box-shadow: 0 0 3px 1px #000000 !important;
}

.custom-btns:active {
  border-color: black;
  background-color: #FF9C00 !important;
  box-shadow: 0 0 3px 1px #000000 !important;
}

.bottonis{
  margin-left: 1vw;
  display: flex;
  gap:1vw;
}

.navbar {
  background-color: #634080;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-link {
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #634080;
  padding: 10px;
}

.dropdown-menu a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #FF9C00;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


