<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Il tuo E-commerce</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<header>
  <nav class="navbar navbar-expand-md navbar-light custom-navbar">

    <h1 class="navbar-brand text-light logo" style="cursor: pointer" (click)="goHomepage()">CAESARZON</h1>

    <div class="search-container d-flex flex-row align-items-center">
      <input type="text" placeholder="Cerca..." [(ngModel)]="this.productService.ricerca">
      <button class="btn btn-dark custom-btn ml-1" type="submit" (click)="productService.getProducts()">Cerca</button>
    </div>



    <ul *ngIf="keyCloak.getLoggedStatus()" class="navbar-nav ml-auto">
      <div  class="bottonis mt-2">
        <li class="nav-item">
          <div id="notiche" *ngIf="keyCloak.getLoggedStatus()">
            <div class="notifications-container">
              <button class="notification-button mr-1" (click)="toggleMenus()">
                <img src="assets/images/icons/bell.png" alt="Icona notifiche" height="24" width="24">
                <span class="badge" *ngIf="notifyCount > 0">{{ notifyCount}}</span>
              </button>

              <div class="notification-menu" [class.show]="menuOpen">
                <ng-container *ngIf="keyCloak.notifications && keyCloak.notifications.length; else noNotifications">
                  <div *ngFor="let notification of keyCloak.notifications">
                    <table class="notification-table">
                      <tbody>
                      <tr class="notification-item" >
                        <td>
                          <span>{{ notification.subject }}</span>
                        </td>
                        <td style="width: 7vw">
                          <span >{{ notification.date }}</span>
                        </td>
                        <td style="width: 5vw">
                          <button class="icon-button mr-2" *ngIf="!keyCloak.getIsAdmin()" (click)="toggleDescription(notification)">
                            {{ notification.showDescription ? '▲' : '▼' }}
                          </button>
                          <button class="icon-button" (click)="removeNotification(notification)">X</button>
                        </td>
                      </tr>
                      <tr *ngIf="notification.showDescription && !keyCloak.getIsAdmin()">
                        <td colspan="3">
                          <div class="notification-body">
                            <p>{{ notification.explanation }}</p>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                </ng-container>
                <ng-template #noNotifications>
                  <p class="notification-item ml-5">Non hai nessuna notifica</p>
                </ng-template>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <div class="dropdown">
            <button *ngIf="!keyCloak.getIsAdmin()" class="menu-item btn btn-dark custom-btn dropdown-toggle" type="button" (click)="changePage($event,'personal-data')">
              Profilo
            </button>
            <button *ngIf="keyCloak.getIsAdmin()" class="menu-item btn btn-dark custom-btn dropdown-toggle" type="button" (click)="changePage($event,'admin-area')">
              Gestisci
            </button>
            <div *ngIf="!keyCloak.getIsAdmin()" class="dropdown-menu" >
              <a class="dropdown-item" (click)="changePage($event,'personal-data')">Anagrafica</a>
              <a class="dropdown-item" (click)="changePage($event,'address-data')">Indirizzi</a>
              <a class="dropdown-item" (click)="changePage($event, 'payment-data')">Metodi di pagamento</a>
              <a class="dropdown-item" (click)="changePage($event, 'wish-list')">Lista dei desideri</a>
              <a class="dropdown-item" (click)="changePage($event, 'da-fare')">Ordini</a>
              <a class="dropdown-item" (click)="changePage($event, 'help-request')">Assistenza</a>
              <a class="dropdown-item" (click)="keyCloak.toggleLogin()">Esci</a>
            </div>

            <div *ngIf="keyCloak.getIsAdmin()" class="dropdown-menu" >
              <a class="dropdown-item" (click)="changeSection($event, 0, 'admin-area',0)">Cerca utenti</a>
              <a class="dropdown-item" (click)="changeSection($event, 1, 'admin-area',0)">Segnalazioni</a>
              <a class="dropdown-item" (click)="changeSection($event, 2, 'admin-area',0)">Richieste di supporto</a>
              <a class="dropdown-item" (click)="changeSection($event, 3, 'admin-area',0)">Utenti bannati</a>
              <a class="dropdown-item" (click)="keyCloak.toggleLogin()">Esci</a>
            </div>
          </div>
        </li>


        <li class="nav-item">
          <button  *ngIf="!keyCloak.getIsAdmin()" id="carr" class="menu-item btn btn-dark custom-btns"  (click)="changePage($event,'shopping-cart')">Carrello</button>
          <button  *ngIf="keyCloak.getIsAdmin()" id="product" class="menu-item btn btn-dark custom-btns" (click)="changePage($event, 'product-management')">Aggiungi prodotto</button>
        </li>

        <li id="amici" class="nav-item">
          <button *ngIf="!keyCloak.getIsAdmin()" class="menu-item btn btn-dark custom-btns" (click)="friendFollow.takeFirst20User()">Amici</button>
        </li>

      </div>
    </ul>

    <ul *ngIf="!keyCloak.getLoggedStatus()"  class="navbar-nav ml-auto">
      <div class="bottonis">
        <li class="nav-item ">
          <button class="menu-item btn btn-dark custom-btns" (click)="popupService.openPopups(3, true)">Accedi</button>
        </li>
        <li class="nav-item">
          <button class="menu-item btn btn-dark custom-btns" (click)="changePage($event, 'shopping-cart')">Carrello</button>
        </li>
      </div>
    </ul>
  </nav>

  <nav id="secondNav" class="navbar navbar-expand-md navbar-light d-flex flex-column align-items-center">
    <button class="navbar-toggler btn btn-dark custom-btn" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': isMenuOpen}" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-light ml-1" href="#" (click)="changePage($event,'personal-data')">Prodotti del momento <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light ml-1" href="#" (click)="changePage($event,'products-list')">Novità</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light ml-1" href="#" (click)="changePage($event,'admin-area')">Offerte</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-light dropdown-toggle ml-1" href="#" id="atletica" role="button" aria-haspopup="true" aria-expanded="false">
            Atletica
          </a>
          <div class="dropdown-menu" aria-labelledby="pallavolo">
            <a class="dropdown-item" href="#">Abbigliamento</a>
            <a class="dropdown-item" href="#">Attrezzatura</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-light dropdown-toggle ml-1" href="#" id="pallavolo" role="button" aria-haspopup="true" aria-expanded="false" (click)="changePage($event, 'product-page')">
            Pallavolo
          </a>
          <div class="dropdown-menu" aria-labelledby="pallavolo">
            <a class="dropdown-item" href="#" (click)="changePage($event, 'product-page')">Abbigliamento</a>
            <a class="dropdown-item" href="#" (click)="changePage($event, 'product-page')">Attrezzatura</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-light dropdown-toggle ml-1" href="#" id="basket" role="button" aria-haspopup="true" aria-expanded="false" (click)="changePage($event, 'product-page')">
            Basket
          </a>
          <div class="dropdown-menu" aria-labelledby="basket">
            <a class="dropdown-item" href="#" (click)="changePage($event, 'product-page')">Abbigliamento</a>
            <a class="dropdown-item" href="#" (click)="changePage($event, 'product-page')">Attrezzatura</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-light dropdown-toggle ml-1" href="#" id="Tennis" role="button" aria-haspopup="true" aria-expanded="false" (click)="changePage($event, 'product-page')">
            Tennis
          </a>
          <div class="dropdown-menu" aria-labelledby="Tennis">
            <a class="dropdown-item" href="#" (click)="changePage($event, 'product-page')">Abbigliamento</a>
            <a class="dropdown-item" href="#" (click)="changePage($event, 'product-page')">Attrezzatura</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-light dropdown-toggle ml-1" href="#" id="Nuoto" role="button" aria-haspopup="true" aria-expanded="false" (click)="changePage($event, 'product-page')">
            Nuoto
          </a>
          <div class="dropdown-menu" aria-labelledby="Nuoto">
            <a class="dropdown-item" href="#" (click)="changePage($event, 'product-page')">Abbigliamento</a>
            <a class="dropdown-item" href="#" (click)="changePage($event, 'product-page')">Attrezzatura</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-light dropdown-toggle ml-1" href="#" id="Calcio" role="button" aria-haspopup="true" aria-expanded="false" (click)="changePage($event, 'product-page')">
            Calcio
          </a>
          <div class="dropdown-menu" aria-labelledby="Calcio">
            <a class="dropdown-item" href="#" (click)="changePage($event, 'product-page')">Abbigliamento</a>
            <a class="dropdown-item" href="#" (click)="changePage($event, 'product-page')">Attrezzatura</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-light dropdown-toggle ml-1" href="#" id="ArtiMarziali" role="button" aria-haspopup="true" aria-expanded="false" (click)="changePage($event, 'product-page')">
            Arti marziali
          </a>
          <div class="dropdown-menu" aria-labelledby="ArtiMarziali">
            <a class="dropdown-item" href="#" (click)="changePage($event, 'product-page')">Abbigliamento</a>
            <a class="dropdown-item" href="#" (click)="changePage($event, 'product-page')">Attrezzatura</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-light dropdown-toggle ml-1" href="#" id="Ciclismo" role="button" aria-haspopup="true" aria-expanded="false" (click)="changePage($event, 'product-page')">
            Ciclismo
          </a>
          <div class="dropdown-menu" aria-labelledby="Ciclismo">
            <a class="dropdown-item" href="#" (click)="changePage($event, 'product-page')">Abbigliamento</a>
            <a class="dropdown-item" href="#" (click)="changePage($event, 'product-page')">Attrezzatura</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-light dropdown-toggle ml-1" href="#" id="Sciismo" role="button" aria-haspopup="true" aria-expanded="false" (click)="changePage($event, 'product-page')">
            Sciismo
          </a>
          <div class="dropdown-menu" aria-labelledby="Sciismo">
            <a class="dropdown-item" href="#" (click)="changePage($event, 'product-page')">Abbigliamento</a>
            <a class="dropdown-item" href="#" (click)="changePage($event, 'product-page')">Attrezzatura</a>
          </div>
        </li>

      </ul>
    </div>
  </nav>
</header>
</html>
