<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Il tuo E-commerce</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<nav class="navbar navbar-expand-lg navbar-light custom-navbar">
  <a class="navbar-brand" href="#">CAESARZON</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Prodotti del momento <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Novità</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Offerte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pallavolo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Basket</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tennis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Atletica</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Nuoto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Calcio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Arti marziali</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ciclismo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sciismo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Boxe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Accedi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lista dei desideri</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Carrello</a>
      </li>
    </ul>
  </div>
</nav>
