<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Review</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>

<div class="container-fluidos regLog">
  <div class="form-group d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">Aggiungi prodotto ad una lista</h1>
    </div>
    <button (click)="popupService.closePopup()" class="btn btn-dark ics">X</button>
    <div class="d-flex flex-row align-items-center">
      <label for="selectCard">Seleziona lista dei desideri:</label>
      <select class="form-select selectionIn btn btn-dark custom-bln ml-2" id="selectCard">
        <option value="card1">Lista 1</option>
        <option value="card2">Lista 2</option>
      </select>
    </div>
    <button class="btn btn-dark custom-btn mt-3" (click)="popupService.openCreateWishList()">Crea una nuova lista</button>





  </div>


  <div class="d-flex flex-column align-items-center">
    <button type="submit" class="btn btn-dark custom-btn al" >Aggiungi</button>
  </div>
</div>


</body>
</html>
