<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Il tuo E-commerce</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-12">
      <!-- Aggiungo la barra di ricerca -->
      <div class="search-bar">
        <input type="text" class="form-control" placeholder="Cerca...">
      </div>
      <h2>Prodotti in evidenza</h2>
      <div class="row">
        <div class="col-md-2">
          <img id="arrowLeft" class="arrow-image" src="assets/images/right-arrow.png">
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Prodotto 1</h5>
              <p class="card-text">Descrizione breve del prodotto.</p>
              <a href="#" class="btn btn-primary" (click)="goToProductPage($event)">Dettagli</a>  <!-- lINK ALLA PAGINA PRODOTTO-->
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Prodotto 2</h5>
              <p class="card-text">Descrizione breve del prodotto.</p>
              <a href="#" class="btn btn-primary">Dettagli</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">

            <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Prodotto 3</h5>
              <p class="card-text">Descrizione breve del prodotto.</p>
              <a href="#" class="btn btn-primary">Dettagli</a>
            </div>
          </div>
        </div>
        <div class="col-md-2" id="arrowRight">
          <img class="arrow-image" src="assets/images/right-arrow.png">
        </div>
      </div>
    </div>
  </div>
</div>


</body>

</html>
