<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
</head>
<body>
<header>
  <div id="Top-row">
    <img src="assets/images/Screenshot 2024-04-09 094124.png" >

    <input id="SearchBar" type="text" placeholder="Cerca...">
  </div>
  <nav id="my-first">
    <ul>
      <li class="burger" (click)="toggleMenu()">
        <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
      </li>
      <li class="menu" [class.is-open]="isMenuOpen">
        <a href="#" class="menu-item">PRODOTTI DEL MOMENTO</a>
        <a href="#" class="menu-item">NOVITA'</a>
        <a href="#" class="menu-item">OFFERTE</a>
        <a href="#" class="menu-item">PALLAVOLO</a>
        <a href="#" class="menu-item">BASKET</a>
        <a href="#" class="menu-item">TENNIS</a>
        <a href="#" class="menu-item">ATLETICA</a>
        <a href="#" class="menu-item">NUOTO</a>
        <a href="#" class="menu-item">CALCIO</a>
        <a href="#" class="menu-item">ARTI MARZIALI</a>
        <a href="#" class="menu-item">CICLISMO</a>
        <a href="#" class="menu-item">SCIISMO</a>
        <a href="#" class="menu-item">BOXE</a>
      </li>

      <li class="menu2">
        <a href="#" class="menu-item">ACCEDI</a>
        <a href="#" class="menu-item">CARRELLO</a>
      </li>
    </ul>
  </nav>

</header>
<footer>

</footer>
</body>

</html>
