/*
header{
  background: #634080; #FF9C00
  height: 18vh;
}
*/



#Top-row{
  display: flex;
  align-content: center;
  translate: 2vh 3vh;
  gap: 10vw;
}

.searchBar{
  font-size: 16px;
  height: 5vh;
}

a{
  white-space: nowrap;
  color: white;
  text-decoration: none;
  font-family: FontGenerico, serif;
  font-size: 22px;

}


a:hover{
  transform: scale(1.2);
  color: #FF9C00;
}
#MenuHeader{
  display: flex;
  gap: 2vw;
  list-style-type: none;

}


#Bottom-row{
  display: flex;
  translate: 2vh 3vh;
  gap: 1vw;
}


footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background:  #352244;
  height: 100px;
}

.a{
  height: 100%;
  background: #634080;
}

.container{
  display: grid;
  grid-template-columns: 16rem 1fr 16rem;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
      "header header header"
      "nav content sidebar"
      "footer footer footer";
  min-height: 100%;
}

header{
  grid-area: header;
  background-color: #634080;
}

nav {
  grid-area: nav;
  background-color: #634080;
}

main{
  grid-area: content;
  background-color: #ab3b3b;
}

aside{
  grid-area: sidebar;
  background-color: #7c3c3c;
}

footer{
  grid-area: footer;
  background-color: #352244;
}

@media (max-width: 1024px) {
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(5rem, auto) 1fr minmax(5rem,auto) auto;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "sidebar"
      "footer";
  }
  #image{
    display: none;
  }
}

