
.ics:active {
  background-color: #FF9C00 !important;
  box-shadow: 0 0 3px 1px #000000 !important;
  border-color: black;
}
.error-message {
  color: #ff0a00;
  position: absolute;
}


.err{
  font-weight: normal;
}

.ics {
  position: absolute;
  top: 5px;
  right: 5px;
  border-color: black;
  background-color: #FF9C00;
  color: #ffffff;
  width: 2%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.al{
  margin-bottom: 2vh;
}




.ics:focus {
  border-color: black;
  background-color: #FF9C00;
  box-shadow: 0 0 3px 1px #000000;

}

.ics:hover {
  background-color: #a96c00;
  border-color: black;
}

.regLog{
  border: 1px solid #08090B;
  border-radius: 1.5vh;

}

.gruppoInputs{
  text-align: center;

}

.buut {
  border-color: black;
}
.buut:hover,
.buut:focus{
  border-color: black;
  box-shadow: 0 0  #000000 !important;
}
.buut:active {
  border-color: black;
  box-shadow: 0 0 3px 1px #000000 !important;
}



body{
  overflow-y: hidden;
}
html{
  overflow-y: hidden;
}

.table-cell {
  border: 1px solid black;
  border-radius: 0.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.useeeer{
  cursor: pointer;
}


.barraRicerca{
  margin-top: -3vh;
  width: 15vw;
}

.container-fluidos {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 35%;
  max-height: 60vh;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.container-fluidos.other{
  max-height: 80vh;

}

.container-fluidos.Add{
  max-height: 80vh;
  max-width: 60%;

}

.textBoxAggiunta{
  width: 17vw;
}

.aggiunta{
  margin: 20px;
}

@media (min-width: 1000px) {
  .container-fluid {
    width: 50%;
  }
}

.list{
  width: 70%;
}

label{
  font-weight: bold;
}
.stars {
  font-size: 30px;
  cursor: pointer;
}

.star {
  color: rgb(128, 128, 128);
}

.star.filled {
  color: gold;
}

textarea{
  resize: none;
}

label {
  font-weight: bold;
}

.gruppoInputDesc {
  width: 30vw;
  height: 25vh;
}

.container-fluidoss {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 35%;
  max-height: 60vh;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.container-fluidoss.other{
  max-height: 80vh;

}

.container-fluidoss.Add{
  max-height: 90vh;
  max-width: 25%;

}
.toggle-password{
  right: 5.5vw;
}



.uSpinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-row {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-row.highlighted {
  background-color: #f0f0f0; /* Colore di sfondo quando si passa il mouse */
}









.userInput {
  display: flex;
  justify-content: center;
  align-items: center;
}



div.error-message {
  color: #ff0a00;
  text-align: center;
}


input{
  margin: 10px;
  height: 35px;
  width: 65px;
  border:none;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
  background: #eef2f3;
}

.messaggio {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.wider-input {
  width: 130%;
  max-width: 500px;
}

.spaced-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.form-group {
  margin-bottom: 15px;
}

#descrizione {
  width: 150%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}




.container-fluidoss {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 35%;
  max-height: 50vh;
  min-height: 50vh;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.container-fluidoss.other {
  max-height: 50vh;
  min-height: 50vh;
}

.container-fluidoss.Add {
  max-height: 50vh;
  max-width: 60%;
  min-height: 50vh;
}


.container-fluidosss {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 50%;
  max-height: 50vh;
  min-height: 50vh;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.container-fluidosss.other {
  max-height: 50vh;
  min-height: 50vh;
}

.container-fluidosss.Add {
  max-height: 50vh;
  max-width: 60%;
  min-height: 50vh;
}
