<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body >
<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 0" [ngClass]="{'other': popUpService.isOther}">
  <div class="form-group d-flex flex-column align-items-center">
    <div class="d-flex flex-row align-items-center">
      <button class="btn btn-dark custom-btn mr-2 mt-2" (click)="changeSection(0, 'Cerca utenti')">Cerca utenti</button>
      <button class="btn btn-dark custom-btn mr-2 mt-2" (click)="changeSection(1, 'Seguiti')">Seguiti</button>
      <button class="btn btn-dark custom-btn mt-2" (click)="changeSection(2, 'Amici')">Amici</button>
    </div>
    <h1 class="mt-2">{{sectionLabel}}</h1>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>

  </div>

  <div class="d-flex flex-column align-items-center">
    <input class="mb-2 barraRicerca" type="text" placeholder="Cerca">

    <div class="table-container">

      <div *ngIf="section === 0" class="table-row">
        <div *ngFor="let user of friendFollow.users">
          <div class="table-cell mb-2">
            <img class="mr-2" [src]="user.safeImageUrl" alt="Foto">
            <label>{{ user.username }}</label>
            <button class="btn btn-dark custom-btn mr-1 mt-1 mb-1 ml-1"><i class="fas fa-user-plus"></i></button>
          </div>
        </div>
      </div>

      <div *ngIf="section === 1" class="table-row">
        <div *ngFor="let user of friendFollow.usersFollow">
          <div class="table-cell mb-2">
            <img class="mr-2" [src]="user.safeImageUrl" alt="Foto">
            <label>{{ user.username }}</label>
            <div>
              <button class="btn btn-dark custom-btn ml-1 mt-1 mb-1"><i class="fas fa-heart"></i></button>
              <button class="btn btn-danger buut mr-1 ml-1 mt-1 mb-1 mr-1"><i class="fas fa-user-minus"></i></button>
            </div>

          </div>
        </div>
      </div>

      <div *ngIf="section === 2" class="table-row">
        <div *ngFor="let user of friendFollow.usersFriend">
          <div class="table-cell mb-2">
            <img class="mr-2" [src]="user.safeImageUrl" alt="Foto">
            <label>{{ user.username }}</label>
            <button class="btn btn-danger buut  mr-1 mt-1 mb-1 ml-1"><i class="fas fa-user-minus"></i></button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 1" [ngClass]="{'other': !popUpService.isOther}">
  <div class="form-group">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">Stai segnalando l'utente</h1>
      <h2 class="accediLabel">Aldogay</h2>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
    <div class="d-flex flex-column align-items-center">
      <label for="motivo">Motivo della segnalazione</label>
      <select name="motivo" [(ngModel)]="adminService.motivoSegnalazione" class="form-select selectionIn btn btn-dark custom-bln" id="motivo" >
        <option value="spam">Spam</option>
        <option value="Contenuto Ripetitivo">Contenuto Ripetitivo</option>
        <option value="Link Sospetti o Dannosi">Link Sospetti o Dannosi</option>
        <option value="Attività Automatizzata">Attività Automatizzata</option>
        <option value="Contenuto Offensivo">Contenuto Offensivo</option>
        <option value="Violazione delle Regole della Piattaforma">Violazione delle Regole della Piattaforma</option>
        <option value="Informazioni False o Fraudolente">Informazioni False o Fraudolente</option>
        <option value="Violazione della Privacy">Violazione della Privacy</option>
        <option value="Nudo o Atti Sessuali">Nudo o Atti Sessuali</option>

      </select>

    </div>
  </div>


  <div class="form-group gruppo d-flex flex-column align-items-center">
    <label for="descrizione">Descrizione</label>
    <textarea class="form-control gruppoInputDesc" id="descrizione" minlength="5" maxlength="500" [(ngModel)]="adminService.descrizioneSegnalazione"></textarea>
  </div>

  <div class="d-flex flex-column align-items-center">
    <button type="submit" class="btn btn-dark custom-btn al" [disabled]="!isFormReportValid()" (click)="sendReport()">Invia</button>
  </div>
</div>



<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 2" [ngClass]="{'other': !popUpService.isOther}">
  <div class="form-group">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">Condividi la tua esperienza!</h1>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
    <div class="d-flex flex-column align-items-center">
      <div class="stars">
        <span class="star" (click)="rate(1)" [ngClass]="{'filled': productService.valutazioneRecensione >= 1}">★</span>
        <span class="star" (click)="rate(2)" [ngClass]="{'filled': productService.valutazioneRecensione >= 2}">★</span>
        <span class="star" (click)="rate(3)" [ngClass]="{'filled': productService.valutazioneRecensione >= 3}">★</span>
        <span class="star" (click)="rate(4)" [ngClass]="{'filled': productService.valutazioneRecensione >= 4}">★</span>
        <span class="star" (click)="rate(5)" [ngClass]="{'filled': productService.valutazioneRecensione == 5}">★</span>
      </div>
    </div>

    <input type="hidden" id="rating" name="rating" [(ngModel)]="productService.valutazioneRecensione">
  </div>

  <div class="form-group gruppo d-flex flex-column align-items-center">
    <label for="descrizione">Descrizione</label>
    <textarea [(ngModel)]="productService.descrizioneRecensione" class="form-control gruppoInputDesc" minlength="5" maxlength="500"></textarea>
  </div>

  <div class="d-flex flex-column align-items-center">
    <button type="submit" class="btn btn-dark custom-btn al" [disabled]="!isFormReviewValid()" (click)="productService.addReview()">Invia</button>
  </div>
</div>




<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 5" [ngClass]="{'other': !popUpService.isOther}">
  <div class="form-group d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">Aggiungi prodotto ad una lista</h1>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
    <div class="d-flex flex-row align-items-center">
      <label for="selectCard">Seleziona lista dei desideri:</label>
      <select class="form-select selectionIn btn btn-dark custom-bln ml-2" id="selectCard" (change)="wishListService.updateWishListID($event)">
        <option></option>
        <option *ngFor="let names of wishListService.wishLists" [value]="names.id">{{ names.name }}</option>
      </select>

    </div>
    <button class="btn btn-dark custom-btn mt-3" (click)="popUpService.openPopups(4, true)">Crea una nuova lista</button>

  </div>


  <div class="d-flex flex-column align-items-center">
    <button type="submit" class="btn btn-dark custom-btn al" (click)="wishListService.addProductToWishList()" >Aggiungi</button>
  </div>
</div>


<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 4" [ngClass]="{'other': !popUpService.isOther}">
  <div class="form-group">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">Crea una nuova lista dei desideri</h1>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
    <div class="d-flex flex-column align-items-center">
      <label for="motivo">Visibilità (potrai cambiarla in seguito)</label>
      <select [(ngModel)]="wishListService.visibilitaNuovaLista" name="visibilita" class="form-select selectionIn btn btn-dark custom-bln">
        <option value="" disabled selected>Seleziona la visibilità</option>
        <option value="Privata">Privata</option>
        <option value="Pubblica">Pubblica</option>
        <option value="Condivisa">Condivisa</option>
      </select>
    </div>
  </div>

  <div class="form-group gruppo d-flex flex-column align-items-center">
    <label for="descrizione">Nome lista</label>
    <input [(ngModel)]="wishListService.nomeNuovaLista" class="form-control list" maxlength="30">
  </div>

  <div class="d-flex flex-column align-items-center">
    <button type="submit" class="btn btn-dark custom-btn al" (click)="wishListService.createNewWishList()"
            [disabled]="!wishListService.nomeNuovaLista || wishListService.nomeNuovaLista.length < 2 || !wishListService.visibilitaNuovaLista">Crea</button>
  </div>
</div>


<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 6" [ngClass]="{'Add': popUpService.isAdd}">
  <form [formGroup]="formCaesarzon" (ngSubmit)="aggiungiIndirizzo()">
  <div class="d-flex flex-column align-items-center aggiunta" formGroupName="formIndirizzo">

    <h1>Aggiugi un nuovo indirizzo</h1>
    <button type="button" (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>

    <div class="d-flex flex-row align-items-center" >
        <div class="form-group ml-3 d-flex flex-column">
          <label for="tipologiaStrada">Tipo strada:</label>
          <select id="tipologiaStrada" class="form-select selectionIn btn btn-dark custom-bln" formControlName="tipologiaStrada">
            <option value="Via">Via</option>
            <option value="Vicolo">Vicolo</option>
            <option value="Viale">Viale</option>
            <option value="Traversa">Traversa</option>
            <option value="Borgo">Borgo</option>
            <option value="Piazzale">Piazzale</option>
            <option value="Piazza">Piazza</option>
            <option value="Largo">Largo</option>
            <option value="Lungarno">Lungarno</option>
          </select>
        </div>

        <div class="form-group ml-3">
          <label for="nomeStrada">Nome strada:</label>
          <input type="text" class="form-control textBoxAggiunta" formControlName="nomeStrada" id="nomeStrada" minlength="8" maxlength="30">
          <div *ngIf="formService.campoNonCorretto('formIndirizzo.nomeStrada')" class="error-message">
            <label class="err"> Il formato del nome non è corretto.</label>
          </div>
        </div>
        <div class="form-group ml-3">
          <label for="cap">Codice postale (CAP):</label>
          <input type="text" class="form-control" id="cap" formControlName="cap" readonly>
        </div>
        <div class="form-group ml-3">
          <label for="prov">Provincia:</label>
          <input type="text" class="form-control textBoxAggiunta" id="prov"  formControlName="provincia" readonly>
        </div>
    </div>

    <div class="d-flex flex-row align-items-center">

      <div class="form-group">
        <label for="numeroCivico">N° civico:</label>
        <input type="text" id="numeroCivico" class="form-control textBoxAggiunta" formControlName="numeroCivico" minlength="1" maxlength="8">
        <div *ngIf="formService.campoNonCorretto('formIndirizzo.numeroCivico')" class="error-message">
          <label class="err"> Il formato del numeri civico non è corretto.</label>
        </div>
        </div>
        <div class="form-group ml-3">
          <label for="citta">Città:</label>
          <input type="text"  class="form-control textBoxAggiunta" id="citta" formControlName="citta"
                 [matAutocomplete]="auto"
                 (input)="ottieniCittaService.ottieniCitta(this.formCaesarzon.get('formIndirizzo.citta')?.value)">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let citta of ottieniCittaService.suggerimentiCitta" (click)="ottieniCittaService.onCittaChange(citta)" [value]="citta">
              {{ citta }}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="form-group ml-3">
          <label for="regione">Regione:</label>
          <input type="text" class="form-control textBoxAggiunta" id="regione" formControlName="regione" readonly>
        </div>
      </div>
      <button type="submit" class="btn btn-dark custom-btn" [disabled]="!formCaesarzon.get('formIndirizzo')?.valid">Aggiungi</button>
    </div>
  </form>
</div>

<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 7" [ngClass]="{'Add': popUpService.isAdd}">
  <form [formGroup]="formCaesarzon" (ngSubmit)="aggiungiCarta()">
    <div class="d-flex flex-column align-items-center aggiunta" formGroupName="formCarta">

      <h1>Aggiungi una nuova carta</h1>
      <button type="button" (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>


      <div class="d-flex flex-column align-items-center">

        <div class="d-flex flex-row align-items-center">
          <div class="form-group">
            <label for="cardNumber">Numero della carta:</label>
            <input type="text" class="form-control textBoxAggiunta" id="cardNumber" formControlName="numeroCarta"  minlength="16" maxlength="16">
            <div *ngIf="formService.campoNonCorretto('formCarta.numeroCarta')" class="error-message">
              <label class="err"> Il formato del numero della carta non è corretto.</label>
            </div>
          </div>

          <div class="form-group ml-3">
            <label for="cardHolderName">Titolare della carta:</label>
            <input type="text" class="form-control textBoxAggiunta" id="cardHolderName" formControlName="titolareCarta"  minlength="5" maxlength="40">
            <div *ngIf="formService.campoNonCorretto('formCarta.titolareCarta')" class="error-message">
              <label class="err"> Il formato del nome del titolare della carta non è corretto.</label>
            </div>
          </div>
        </div>

        <div class="d-flex flex-row align-items-center">
          <div class="form-group">
            <label for="expirationDate">Data di scadenza:</label>
            <input type="month" class="form-control textBoxAggiunta" id="expirationDate" formControlName="dataScadenza">
            <div *ngIf="formCaesarzon.get('formCarta.dataScadenza')?.hasError('invalidDate')" class="error-message">
              <label class="err">La data di scadenza non può essere nel passato.</label>
            </div>
          </div>
          <div class="form-group ml-3">
            <label for="cvv">Codice di sicurezza (CVV):</label>
            <input type="text" class="form-control" id="cvv" formControlName="cvv"  minlength="3" maxlength="3">
            <div *ngIf="formService.campoNonCorretto('formCarta.cvv')" class="error-message">
              <label class="err"> Il formato del codice di sicurezza non è corretto.</label>
            </div>
          </div>
        </div>

      </div>
      <button type="submit" class="btn btn-dark custom-btn mt-3" [disabled]="!formCaesarzon.get('formCarta')?.valid">Aggiungi</button>
    </div>
  </form>


</div>

<div class="container-fluidoss regLog" *ngIf="popUpService.wichComponent === 8" [ngClass]="{'Add': popUpService.isAdd}">
  <div class="form-group d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">Cambia password</h1>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
    <div class="d-flex flex-row align-items-center">
      <div class="form-group">
        <label for="newPassword">Nuova password:</label>
        <input type="password" id="newPassword" class="form-control mb-2" style="width: 15vw" [(ngModel)]="newPassword" >
        <div *ngIf="newPasswordError" class="error-message">
          {{ newPasswordError }}
        </div>
      </div>
      <span class="toggle-password position-absolute" (click)="togglePassword('newPassword')">
          <img src="/assets/images/icons/view.png" *ngIf="mostraPassword['newPassword']" alt="Mostra Password" width="20">
          <img src="/assets/images/icons/hide.png" *ngIf="!mostraPassword['newPassword']" alt="Nascondi Password" width="20">
      </span>


    </div>
    <div class="d-flex flex-row align-items-center">
      <div class="form-group">
        <label for="confirmPassword">Conferma password:</label>
        <input type="password" id="confirmPassword" class="form-control mb-2" style="width: 15vw" [(ngModel)]="confirmPassword">
        <div *ngIf="confirmPasswordError" class="error-message">
          {{ confirmPasswordError }}
        </div>
      </div>
      <span class="toggle-password position-absolute" (click)="togglePassword('confirmPassword')">
            <img src="/assets/images/icons/view.png" *ngIf="mostraPassword['confirmPassword']" alt="Mostra Password" width="20">
            <img src="/assets/images/icons/hide.png" *ngIf="!mostraPassword['confirmPassword']" alt="Nascondi Password" width="20">
      </span>


    </div>

    <button class="btn btn-dark custom-btn mt-3"  (click)="validatePassword()">Cambia password</button>
  </div>
</div>

<div class="container-fluidoss regLog" *ngIf="popUpService.wichComponent === 9" [ngClass]="{'Add': popUpService.isAdd}">
  <div class="form-group d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">Elimina account</h1>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
    <div class="d-flex flex-row align-items-center">
      <div class="form-group">
        <label for="newPassword">Password:</label>
        <input type="password" id="pass" class="form-control mb-2" style="width: 15vw" [(ngModel)]="pass" >
      </div>
      <span class="toggle-password position-absolute" (click)="togglePassword('pass')">
          <img src="/assets/images/icons/view.png" *ngIf="mostraPassword['newPassword']" alt="Mostra Password" width="20">
          <img src="/assets/images/icons/hide.png" *ngIf="!mostraPassword['newPassword']" alt="Nascondi Password" width="20">
      </span>

    </div>

    <button class="btn btn-danger modifica" style="border: black solid 1px" (click)="eliminaAccount()">Elimina account</button>
  </div>
</div>

<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 10" [ngClass]="{'other': !popUpService.isOther}">
  <div class="form-group">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">{{popUpService.aStringa}}:</h1>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
  </div>

  <div class="form-group gruppo d-flex flex-column align-items-center">
    <textarea [(ngModel)]="adminService.rispostaAdmin"
              class="form-control gruppoInputDesc"
              minlength="5"
              maxlength="500"
              (ngModelChange)="checkValid()">
    </textarea>
  </div>

  <div class="d-flex flex-column align-items-center">
    <button type="submit"
            class="btn btn-dark custom-btn al"
            (click)="adminService.inviaRisposta()"
            [disabled]="!rispostaAdminValida">
      Invia
    </button>
  </div>
</div>


<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 11" [ngClass]="{'other': !popUpService.isOther}">
  <div class="form-group">
    <div class="d-flex flex-column align-items-center" style="margin-bottom: -2vh">
      <h1>Aggiungi disponibilità</h1>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
  </div>
  <form [formGroup]="formCaesarzon" (ngSubmit)="productService.aggiungiDisponibilita()">
    <div class="form-group gruppo d-flex flex-column align-items-center" formGroupName="formDisponibilita" >
      <div>
        <div class="form-group gruppo d-flex flex-column align-items-center">
          <label for="quantitaXS">Quantità taglia: XS</label>
          <div>
            <input type="number" class="form-control gruppoInputs" id="quantitaXS" formControlName="quantitaXS">
            <div *ngIf="formService.campoNonCorretto('formDisponibilita.quantitaXS')" class="error-message">
              <label class="err">La quantità deve essere: min 10/max 200.</label>
            </div>
          </div>
        </div>
        <div class="form-group gruppo d-flex flex-column align-items-center">
          <label for="quantitaS">Quantità taglia: S</label>
          <div>
            <input type="number" class="form-control gruppoInputs" id="quantitaS" formControlName="quantitaS">
            <div *ngIf="formService.campoNonCorretto('formDisponibilita.quantitaS')" class="error-message">
              <label class="err">La quantità deve essere: min 10/max 200.</label>
            </div>
          </div>
        </div>
        <div class="form-group gruppo d-flex flex-column align-items-center">
          <label for="quantitaM">Quantità taglia: M</label>
          <div>
            <input type="number" class="form-control gruppoInputs" id="quantitaM" formControlName="quantitaM">
            <div *ngIf="formService.campoNonCorretto('formDisponibilita.quantitaM')" class="error-message">
              <label class="err">La quantità deve essere: min 10/max 200.</label>
            </div>
          </div>
        </div>
        <div class="form-group gruppo d-flex flex-column align-items-center">
          <label for="quantitaL">Quantità taglia: L</label>
          <div>
            <input type="number" class="form-control gruppoInputs" id="quantitaL" formControlName="quantitaL">
            <div *ngIf="formService.campoNonCorretto('formDisponibilita.quantitaL')" class="error-message">
              <label class="err">La quantità deve essere: min 10/max 200.</label>
            </div>
          </div>
        </div>
        <div class="form-group gruppo d-flex flex-column align-items-center">
          <label for="quantitaXL">Quantità taglia: XL</label>
          <div>
            <input type="number" class="form-control gruppoInputs" id="quantitaXL" formControlName="quantitaXL">
            <div *ngIf="formService.campoNonCorretto('formDisponibilita.quantitaXL')" class="error-message">
              <label class="err">La quantità deve essere: min 10/max 200.</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center">
      <button type="submit"
              class="btn btn-dark custom-btn al"
              [disabled]="!areAnyFieldsValid()">
        Aggiungi
      </button>

    </div>
  </form>
</div>

</body>

</html>
