<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body >
<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 0" [ngClass]="{'other': popUpService.isOther}">
  <div class="form-group d-flex flex-column align-items-center">
    <div class="d-flex flex-row align-items-center">
      <button class="btn btn-dark custom-btn mr-2 mt-2" (click)="changeSection(0, 'Cerca utenti')">Cerca utenti</button>
      <button class="btn btn-dark custom-btn mr-2 mt-2" (click)="changeSection(1, 'Seguiti')">Seguiti</button>
      <button class="btn btn-dark custom-btn mt-2" (click)="changeSection(2, 'Amici')">Amici</button>
    </div>
    <h1 class="mt-2">{{sectionLabel}}</h1>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>

  </div>

  <div class="d-flex flex-column align-items-center">
    <input class="mb-2 barraRicerca" type="text" placeholder="Cerca">

    <div class="table-container">

      <div *ngIf="section === 0" class="table-row">
        <div *ngFor="let user of users">
          <div class="table-cell mb-2">
            <img class="mr-2" [src]="user.imgPath" alt="Foto">
            <label>{{ user.name }}</label>
            <button class="btn btn-dark custom-btn mr-1 mt-1 mb-1 ml-1"><i class="fas fa-user-plus"></i></button>
          </div>
        </div>
      </div>

      <div *ngIf="section === 1" class="table-row">
        <div *ngFor="let user of usersFollow">
          <div class="table-cell mb-2">
            <img class="mr-2" [src]="user.imgPath" alt="Foto">
            <label>{{ user.name }}</label>
            <div>
              <button class="btn btn-dark custom-btn ml-1 mt-1 mb-1"><i class="fas fa-heart"></i></button>
              <button class="btn btn-danger buut mr-1 ml-1 mt-1 mb-1 mr-1"><i class="fas fa-user-minus"></i></button>
            </div>

          </div>
        </div>
      </div>

      <div *ngIf="section === 2" class="table-row">
        <div *ngFor="let user of usersFriend">
          <div class="table-cell mb-2">
            <img class="mr-2" [src]="user.imgPath" alt="Foto">
            <label>{{ user.name }}</label>
            <button class="btn btn-danger buut  mr-1 mt-1 mb-1 ml-1"><i class="fas fa-user-minus"></i></button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 1" [ngClass]="{'other': !popUpService.isOther}">
  <div class="form-group">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">Stai segnalando l'utente</h1>
      <h2 class="accediLabel">Aldo</h2>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
    <div class="d-flex flex-column align-items-center">
      <label for="motivo">Motivo della segnalazione</label>
      <select name="motivo" class="form-select selectionIn btn btn-dark custom-bln" id="motivo" >
        <option value="spam">Spam</option>
        <option value="contenuto_ripetitivo">Contenuto Ripetitivo</option>
        <option value="link_sospetti">Link Sospetti o Dannosi</option>
        <option value="attività_automatizzata">Attività Automatizzata</option>
        <option value="contenuto_offensivo">Contenuto Offensivo</option>
        <option value="violazione_regole">Violazione delle Regole della Piattaforma</option>
        <option value="informazioni_false">Informazioni False o Fraudolente</option>
        <option value="violazione_privacy">Violazione della Privacy</option>
        <option value="nudo_o_atti_sesso">Nudo o Atti Sessuali</option>
      </select>

    </div>


  </div>


  <div class="form-group gruppo d-flex flex-column align-items-center">
    <label for="descrizione">Descrizione</label>
    <textarea class="form-control gruppoInputDesc" id="descrizione" maxlength="1000" ></textarea>
  </div>

  <div class="d-flex flex-column align-items-center">
    <button type="submit" class="btn btn-dark custom-btn al" >Invia</button>
  </div>
</div>


<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 2" [ngClass]="{'other': !popUpService.isOther}">
  <div class="form-group">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">Condividi la tua esperienza!</h1>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
    <div class="d-flex flex-column align-items-center">
      <div class="stars">
        <span class="star" (click)="popUpService.rate(1)" [ngClass]="{'filled': popUpService.rating >= 1}">★</span>
        <span class="star" (click)="popUpService.rate(2)" [ngClass]="{'filled': popUpService.rating >= 2}">★</span>
        <span class="star" (click)="popUpService.rate(3)" [ngClass]="{'filled': popUpService.rating >= 3}">★</span>
        <span class="star" (click)="popUpService.rate(4)" [ngClass]="{'filled': popUpService.rating >= 4}">★</span>
        <span class="star" (click)="popUpService.rate(5)" [ngClass]="{'filled': popUpService.rating == 5}">★</span>
      </div>
    </div>


    <input type="hidden" id="rating" name="rating" [value]="popUpService.rating">
  </div>


  <div class="form-group gruppo d-flex flex-column align-items-center">
    <label for="descrizione">Descrizione</label>
    <textarea class="form-control gruppoInputDesc" maxlength="1000"></textarea>
  </div>

  <div class="d-flex flex-column align-items-center">
    <button type="submit" class="btn btn-dark custom-btn al" >Invia</button>
  </div>
</div>


<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 5" [ngClass]="{'other': !popUpService.isOther}">
  <div class="form-group d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">Aggiungi prodotto ad una lista</h1>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
    <div class="d-flex flex-row align-items-center">
      <label for="selectCard">Seleziona lista dei desideri:</label>
      <select class="form-select selectionIn btn btn-dark custom-bln ml-2" id="selectCard">
        <option value="card1">Lista 1</option>
        <option value="card2">Lista 2</option>
      </select>
    </div>
    <button class="btn btn-dark custom-btn mt-3" (click)="popUpService.openPopups(4, true)">Crea una nuova lista</button>

  </div>


  <div class="d-flex flex-column align-items-center">
    <button type="submit" class="btn btn-dark custom-btn al" >Aggiungi</button>
  </div>
</div>


<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 4" [ngClass]="{'other': !popUpService.isOther}">
  <div class="form-group">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">Crea una nuova lista dei desideri</h1>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
    <div class="d-flex flex-column align-items-center">
      <label for="motivo">Visibilità (potrai cambiarla in seguito)</label>
      <select name="visibilita" class="form-select selectionIn btn btn-dark custom-bln" >
        <option value="privata">Privata</option>
        <option value="pubblica">Pubblica</option>
        <option value="amici">Amici</option>

      </select>

    </div>


  </div>


  <div class="form-group gruppo d-flex flex-column align-items-center">
    <label for="descrizione">Nome lista</label>
    <input class="form-control list" maxlength="30">
  </div>

  <div class="d-flex flex-column align-items-center">
    <button type="submit" class="btn btn-dark custom-btn al" >Crea</button>
  </div>
</div>


<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 6" [ngClass]="{'Add': popUpService.isAdd}">
  <form [formGroup]="formCaesarzon" (ngSubmit)="aggiungiIndirizzo()">
  <div class="d-flex flex-column align-items-center aggiunta" formGroupName="formIndirizzo">

    <h1>Aggiugi un nuovo indirizzo</h1>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>

    <div class="d-flex flex-row align-items-center" >
        <div class="form-group ml-3 d-flex flex-column">
          <label for="tipologiaStrada">Tipo strada:</label>
          <select id="tipologiaStrada" class="form-select selectionIn btn btn-dark custom-bln" formControlName="tipologiaStrada">
            <option value="via">Via</option>
            <option value="vicolo">Vicolo</option>
            <option value="viale">Viale</option>
            <option value="traversa">Traversa</option>
            <option value="borgo">Borgo</option>
            <option value="piazzale">Piazzale</option>
            <option value="piazza">Piazza</option>
            <option value="largo">Largo</option>
            <option value="lungarno">Lungarno</option>
          </select>
        </div>

        <div class="form-group ml-3">
          <label for="nomeStrada">Nome strada:</label>
          <input type="text" class="form-control textBoxAggiunta" formControlName="nomeStrada" id="nomeStrada" maxlength="30">
        </div>
        <div class="form-group ml-3">
          <label for="cap">Codice postale (CAP):</label>
          <input type="text" class="form-control" id="cap" formControlName="cap" readonly>
        </div>
        <div class="form-group ml-3">
          <label for="prov">Provincia:</label>
          <input type="text" class="form-control textBoxAggiunta" id="prov"  formControlName="provincia" readonly>
        </div>
    </div>

    <div class="d-flex flex-row align-items-center">

      <div class="form-group">
        <label for="numeroCivico">N° civico:</label>
        <input type="text" id="numeroCivico" class="form-control textBoxAggiunta" formControlName="numeroCivico" maxlength="8">
        </div>
        <div class="form-group ml-3">
          <label for="citta">Città:</label>
          <input type="text"  class="form-control textBoxAggiunta" id="citta" formControlName="citta"
                 [matAutocomplete]="auto"
                 (input)="ottieniCittaService.ottieniCitta(this.formCaesarzon.get('formIndirizzo.citta')?.value)">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let citta of ottieniCittaService.suggerimentiCitta" (click)="ottieniCittaService.onCittaChange(citta)" [value]="citta">
              {{ citta }}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="form-group ml-3">
          <label for="regione">Regione:</label>
          <input type="text" class="form-control textBoxAggiunta" id="regione" formControlName="regione" readonly>
        </div>
      </div>
      <button type="button" class="btn btn-dark custom-btn">Aggiungi</button>
    </div>
  </form>
</div>

<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 7" [ngClass]="{'Add': popUpService.isAdd}">
  <div class="d-flex flex-column align-items-center aggiunta">

    <h1>Aggiungi una nuova carta</h1>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>


    <div class="d-flex flex-column align-items-center">

      <div class="d-flex flex-row align-items-center">
        <div class="form-group">
          <label for="cardNumber">Numero della carta:</label>
          <input type="text" class="form-control textBoxAggiunta" id="cardNumber" maxlength="30">
        </div>

        <div class="form-group ml-3">
          <label for="cardHolderName">Titolare della carta:</label>
          <input type="text" class="form-control textBoxAggiunta" id="cardHolderName" maxlength="30">
        </div>
      </div>

      <div class="d-flex flex-row align-items-center">
        <div class="form-group">
          <label for="expirationDate">Data di scadenza:</label>
          <input type="text" class="form-control textBoxAggiunta" id="expirationDate" maxlength="30">
        </div>
        <div class="form-group ml-3">
          <label for="cvv">Codice di sicurezza (CVV):</label>
          <input type="text" class="form-control" id="cvv" maxlength="30">
        </div>
      </div>

    </div>
    <button type="button" class="btn btn-dark custom-btn">Aggiungi</button>
  </div>

</div>


</body>



</html>
