<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>
<mat-progress-spinner class="uSpinner" *ngIf="this.userService.loading" mode="indeterminate" color="primary"></mat-progress-spinner>

<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 0" [ngClass]="{'other': popUpService.isOther}">
  <div class="form-group d-flex flex-column align-items-center">
    <div class="d-flex flex-row align-items-center">
      <button class="btn btn-dark custom-btn mr-2 mt-2" (click)="changeSection(0, 'Cerca utenti')">Cerca utenti</button>
      <button class="btn btn-dark custom-btn mr-2 mt-2" (click)="changeSection(1, 'Seguiti')">Seguiti</button>
      <button class="btn btn-dark custom-btn mt-2" (click)="changeSection(2, 'Amici')">Amici</button>
    </div>
    <h1 class="mt-2">{{sectionLabel}}</h1>
    <button (click)="chiudiPopUpESalvaUtenti()" class="btn btn-dark ics">X</button>
  </div>

  <div class="d-flex flex-column align-items-center">
    <input class="mb-2 barraRicerca" type="text" placeholder="Cerca">

    <div class="table-container">

      <!-- Sezione Cerca utenti -->
      <div *ngIf="section === 0" class="table-row">
        <div *ngFor="let user of friendFollow.users; let i = index"
             class="table-cell mb-2 d-flex align-items-center user-row"
             [ngClass]="{'highlighted': highlightedRow === i}"
             (mouseenter)="highlightedRow = i"
             (mouseleave)="highlightedRow = -1">
          <img class="preview ml-1 mr-1" [src]="user.safeImageUrl" alt="" width="35px" height="35px">

          <label class="flex-grow-1 useeeer mr-1" (click)="this.apriListe(user.username)">{{ user.username }}</label>
          <button *ngIf="!isUserInFollow(user)" class="btn btn-dark custom-btn mr-1 mt-1 mb-1" (click)="this.friendFollow.addFollowersOrFriends(i, true)">
            <i class="fas fa-user-plus"></i>
          </button>
        </div>
      </div>

      <!-- Sezione Seguiti -->
      <div *ngIf="section === 1" class="table-row">
        <div *ngFor="let user of friendFollow.usersFollow; let i = index"
             class="table-cell mb-2 d-flex align-items-center user-row"
             [ngClass]="{'highlighted': highlightedRow === i}"
             (mouseenter)="highlightedRow = i"
             (mouseleave)="highlightedRow = -1">
          <img class="preview mr-1 ml-1" [src]="user.safeImageUrl" alt="" width="35px" height="35px">

          <label class="useeeer mr-1" (click)="this.apriListe(user.username)">{{ user.username }}</label>
          <div>
            <button *ngIf="!isUserInFriend(user)" class="btn btn-dark custom-btn ml-1 " (click)="this.friendFollow.addFollowersOrFriends(i, false)">
              <i class="fas fa-heart"></i>
            </button>
            <button class="btn btn-danger buut ml-1 mt-1 mb-1 mr-1" (click)="this.friendFollow.deleteFollowers(user.username)">
              <i class="fas fa-user-minus"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sezione Amici -->
      <div *ngIf="section === 2" class="table-row">
        <div *ngFor="let user of friendFollow.usersFriend; let i = index"
             class="table-cell mb-2 d-flex align-items-center user-row"
             [ngClass]="{'highlighted': highlightedRow === i}"
             (mouseenter)="highlightedRow = i"
             (mouseleave)="highlightedRow = -1">
          <img class="preview ml-1 mr-1" [src]="user.safeImageUrl" alt="" width="35px" height="35px">

          <label class="useeeer mr-1" (click)="this.apriListe(user.username)">{{ user.username }}</label>
          <button class="btn btn-danger buut mr-1 mt-1 mb-1 ml-1" (click)="this.friendFollow.deleteFriends(i)">
            <i class="fas fa-user-minus"></i>
          </button>
        </div>
      </div>

    </div>

  </div>
</div>


<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 1" [ngClass]="{'other': !popUpService.isOther}">
  <div class="form-group">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">Stai segnalando l'utente</h1>
      <h2 class="accediLabel">{{ this.adminService.usernameSegnalato}}</h2>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
    <div class="d-flex flex-column align-items-center">
      <label for="motivo">Motivo della segnalazione</label>
      <select name="motivo" [(ngModel)]="adminService.motivoSegnalazione" class="form-select selectionIn btn btn-dark custom-bln" id="motivo" >
        <option value="spam">Spam</option>
        <option value="Contenuto Ripetitivo">Contenuto Ripetitivo</option>
        <option value="Link Sospetti o Dannosi">Link Sospetti o Dannosi</option>
        <option value="Attività Automatizzata">Attività Automatizzata</option>
        <option value="Contenuto Offensivo">Contenuto Offensivo</option>
        <option value="Violazione delle Regole della Piattaforma">Violazione delle Regole della Piattaforma</option>
        <option value="Informazioni False o Fraudolente">Informazioni False o Fraudolente</option>
        <option value="Violazione della Privacy">Violazione della Privacy</option>
        <option value="Nudo o Atti Sessuali">Nudo o Atti Sessuali</option>

      </select>

    </div>
  </div>


  <div class="form-group gruppo d-flex flex-column align-items-center">
    <label for="descrizione">Descrizione</label>
    <textarea class="form-control gruppoInputDesc" id="desc" minlength="5" maxlength="500" [(ngModel)]="adminService.descrizioneSegnalazione"></textarea>
  </div>

  <div class="d-flex flex-column align-items-center">
    <button type="submit" class="btn btn-dark custom-btn al" [disabled]="!isFormReportValid()" (click)="sendReport()">Invia</button>
  </div>
</div>



<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 2" [ngClass]="{'other': !popUpService.isOther}">
  <div class="form-group">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">Condividi la tua esperienza!</h1>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
    <div class="d-flex flex-column align-items-center">
      <div class="stars">
        <span class="star" (click)="rate(1)" [ngClass]="{'filled': productService.valutazioneRecensione >= 1}">★</span>
        <span class="star" (click)="rate(2)" [ngClass]="{'filled': productService.valutazioneRecensione >= 2}">★</span>
        <span class="star" (click)="rate(3)" [ngClass]="{'filled': productService.valutazioneRecensione >= 3}">★</span>
        <span class="star" (click)="rate(4)" [ngClass]="{'filled': productService.valutazioneRecensione >= 4}">★</span>
        <span class="star" (click)="rate(5)" [ngClass]="{'filled': productService.valutazioneRecensione == 5}">★</span>
      </div>
    </div>

    <input type="hidden" id="rating" name="rating" [(ngModel)]="productService.valutazioneRecensione">
  </div>

  <div class="form-group gruppo d-flex flex-column align-items-center">
    <label for="descrizione">Descrizione</label>
    <textarea [(ngModel)]="productService.descrizioneRecensione" class="form-control gruppoInputDesc" minlength="5" maxlength="500"></textarea>
  </div>

  <div class="d-flex flex-column align-items-center">
    <button type="submit" class="btn btn-dark custom-btn al" [disabled]="!isFormReviewValid()" (click)="productService.addReview()">Invia</button>
  </div>
</div>




<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 5" [ngClass]="{'other': !popUpService.isOther}">
  <div class="form-group d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">Aggiungi prodotto ad una lista</h1>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
    <div class="d-flex flex-row align-items-center">
      <label for="selectCard">Seleziona lista dei desideri:</label>
      <select class="form-select selectionIn btn btn-dark custom-bln ml-2" id="selectCard" (change)="wishListService.updateWishListID($event)">
        <option></option>
        <option *ngFor="let names of wishListService.wishLists" [value]="names.id">{{ names.name }}</option>
      </select>

    </div>
    <button class="btn btn-dark custom-btn mt-3" (click)="creaNuovalista(104)">Crea una nuova lista</button>

  </div>


  <div class="d-flex flex-column align-items-center">
    <button type="submit" class="btn btn-dark custom-btn al" (click)="wishListService.addProductToWishList()" >Aggiungi</button>
  </div>
</div>


<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 4" [ngClass]="{'other': !popUpService.isOther}">
  <div class="form-group">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">Crea una nuova lista dei desideri</h1>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
    <div class="d-flex flex-column align-items-center">
      <label for="motivo">Visibilità (potrai cambiarla in seguito)</label>
      <select [(ngModel)]="wishListService.visibilitaNuovaLista" name="visibilita" class="form-select selectionIn btn btn-dark custom-bln">
        <option value="" disabled selected>Seleziona la visibilità</option>
        <option value="Privata">Privata</option>
        <option value="Pubblica">Pubblica</option>
        <option value="Condivisa">Condivisa</option>
      </select>
    </div>
  </div>

  <div class="form-group gruppo d-flex flex-column align-items-center">
    <label for="descrizione">Nome lista</label>
    <input [(ngModel)]="wishListService.nomeNuovaLista" class="form-control list" maxlength="30">
  </div>

  <div class="d-flex flex-column align-items-center">
    <button type="submit" class="btn btn-dark custom-btn al" (click)="wishListService.createNewWishList()"
            [disabled]="!wishListService.nomeNuovaLista || wishListService.nomeNuovaLista.length < 2 || !wishListService.visibilitaNuovaLista">Crea</button>
  </div>
</div>


<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 6" [ngClass]="{'Add': popUpService.isAdd}">
  <form [formGroup]="formCaesarzon" (ngSubmit)="aggiungiIndirizzo()">
  <div class="d-flex flex-column align-items-center aggiunta" formGroupName="formIndirizzo">

    <h1>Aggiugi un nuovo indirizzo</h1>
    <button type="button" (click)="closePopUpAddressCard()" class="btn btn-dark ics">X</button>

    <div class="d-flex flex-row align-items-center" >
        <div class="form-group ml-3 d-flex flex-column">
          <label for="tipologiaStrada">Tipo strada:</label>
          <select id="tipologiaStrada" class="form-select selectionIn btn btn-dark custom-bln" formControlName="tipologiaStrada">
            <option value="Via">Via</option>
            <option value="Vicolo">Vicolo</option>
            <option value="Viale">Viale</option>
            <option value="Traversa">Traversa</option>
            <option value="Borgo">Borgo</option>
            <option value="Piazzale">Piazzale</option>
            <option value="Piazza">Piazza</option>
            <option value="Largo">Largo</option>
            <option value="Lungarno">Lungarno</option>
          </select>
        </div>

        <div class="form-group ml-3">
          <label for="nomeStrada">Nome strada:</label>
          <input type="text" class="form-control textBoxAggiunta" formControlName="nomeStrada" id="nomeStrada" minlength="8" maxlength="30">
          <div *ngIf="formService.campoNonCorretto('formIndirizzo.nomeStrada')" class="error-message">
            <label class="err"> Il formato del nome non è corretto.</label>
          </div>
        </div>
        <div class="form-group ml-3">
          <label for="cap">Codice postale (CAP):</label>
          <input type="text" class="form-control" id="cap" formControlName="cap" readonly>
        </div>
        <div class="form-group ml-3">
          <label for="prov">Provincia:</label>
          <input type="text" class="form-control textBoxAggiunta" id="prov"  formControlName="provincia" readonly>
        </div>
    </div>

    <div class="d-flex flex-row align-items-center">

      <div class="form-group">
        <label for="numeroCivico">N° civico:</label>
        <input type="text" id="numeroCivico" class="form-control textBoxAggiunta" formControlName="numeroCivico" minlength="1" maxlength="8">
        <div *ngIf="formService.campoNonCorretto('formIndirizzo.numeroCivico')" class="error-message">
          <label class="err"> Il formato del numeri civico non è corretto.</label>
        </div>
        </div>
        <div class="form-group ml-3">
          <label for="citta">Città:</label>
          <input type="text"  class="form-control textBoxAggiunta" id="citta" formControlName="citta"
                 [matAutocomplete]="auto"
                 (input)="ottieniCittaService.ottieniCitta(this.formCaesarzon.get('formIndirizzo.citta')?.value)">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let citta of ottieniCittaService.suggerimentiCitta" (click)="ottieniCittaService.onCittaChange(citta)" [value]="citta">
              {{ citta }}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="form-group ml-3">
          <label for="regione">Regione:</label>
          <input type="text" class="form-control textBoxAggiunta" id="regione" formControlName="regione" readonly>
        </div>
      </div>
      <button type="submit" class="btn btn-dark custom-btn" [disabled]="!formCaesarzon.get('formIndirizzo')?.valid">Aggiungi</button>
    </div>
  </form>
</div>

<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 7" [ngClass]="{'Add': popUpService.isAdd}">
  <form [formGroup]="formCaesarzon" (ngSubmit)="aggiungiCarta()">
    <div class="d-flex flex-column align-items-center aggiunta" formGroupName="formCarta">

      <h1>Aggiungi una nuova carta</h1>
      <button type="button" (click)="closePopUpAddressCard()" class="btn btn-dark ics">X</button>


      <div class="d-flex flex-column align-items-center">

        <div class="d-flex flex-row align-items-center">
          <div class="form-group">
            <label for="cardNumber">Numero della carta:</label>
            <input type="text" class="form-control textBoxAggiunta" id="cardNumber" formControlName="numeroCarta"  minlength="16" maxlength="16">
            <div *ngIf="formService.campoNonCorretto('formCarta.numeroCarta')" class="error-message">
              <label class="err"> Il formato del numero della carta non è corretto.</label>
            </div>
          </div>

          <div class="form-group ml-3">
            <label for="cardHolderName">Titolare della carta:</label>
            <input type="text" class="form-control textBoxAggiunta" id="cardHolderName" formControlName="titolareCarta"  minlength="5" maxlength="40">
            <div *ngIf="formService.campoNonCorretto('formCarta.titolareCarta')" class="error-message">
              <label class="err"> Il formato del nome del titolare della carta non è corretto.</label>
            </div>
          </div>
        </div>

        <div class="d-flex flex-row align-items-center">
          <div class="form-group">
            <label for="expirationDate">Data di scadenza:</label>
            <input type="month" class="form-control textBoxAggiunta" id="expirationDate" formControlName="dataScadenza">
            <div *ngIf="formCaesarzon.get('formCarta.dataScadenza')?.hasError('invalidDate')" class="error-message">
              <label class="err">La data di scadenza non può essere nel passato.</label>
            </div>

          </div>
          <div class="form-group ml-3">
            <label for="cvv">Codice di sicurezza (CVV):</label>
            <input type="text" class="form-control" id="cvv" formControlName="cvv"  minlength="3" maxlength="3">
            <div *ngIf="formService.campoNonCorretto('formCarta.cvv')" class="error-message">
              <label class="err"> Il formato del codice di sicurezza non è corretto.</label>
            </div>
          </div>
        </div>

      </div>
      <button type="submit" class="btn btn-dark custom-btn mt-3" [disabled]="!formCaesarzon.get('formCarta')?.valid">Aggiungi</button>
    </div>
  </form>


</div>

<div class="container-fluidoss regLog" *ngIf="popUpService.wichComponent === 8" [ngClass]="{'Add': popUpService.isAdd}">
  <div class="form-group d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">Cambia password</h1>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
    <div class="d-flex flex-row align-items-center">
      <div class="form-group">
        <label for="password">Nuova password:</label>
        <input type="password" id="password" class="form-control mb-2" style="width: 15vw" [(ngModel)]="userService.newPassword">
        <div *ngIf="newPasswordError" class="error-message">
          {{ newPasswordError }}
        </div>

      </div>



    </div>
    <div class="d-flex flex-row align-items-center">
      <div class="form-group">
        <label for="confermaPassword">Conferma password:</label>
        <input type="password" id="confermaPassword" class="form-control mb-2" style="width: 15vw" [(ngModel)]="userService.confirmPassword">
        <div *ngIf="confirmPasswordError" class="error-message">
          {{ confirmPasswordError }}
        </div>

      </div>



    </div>

    <button class="btn btn-dark custom-btn mt-3"  (click)="validatePassword()">Cambia password</button>
  </div>
</div>

<div class="container-fluidoss regLog" *ngIf="popUpService.wichComponent === 9" [ngClass]="{'Add': popUpService.isAdd}">
  <div class="form-group d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">Elimina account</h1>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
    <div class="d-flex flex-row align-items-center">
      <div class="form-group">
        <label for="verifyPassword">Password:</label>
        <input type="password" id="verifyPassword" class="form-control mb-2" style="width: 15vw" [(ngModel)]="pass" >
      </div>


    </div>

    <button class="btn btn-danger modifica" style="border: black solid 1px" (click)="eliminaAccount()">Elimina account</button>
  </div>
</div>

<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 10" [ngClass]="{'other': !popUpService.isOther}">
  <div class="form-group">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">{{popUpService.aStringa}}:</h1>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
  </div>

  <div class="form-group gruppo d-flex flex-column align-items-center">
    <textarea [(ngModel)]="adminService.rispostaAdmin"
              class="form-control gruppoInputDesc"
              minlength="5"
              maxlength="500"
              (ngModelChange)="checkValid()">
    </textarea>
  </div>

  <div class="d-flex flex-column align-items-center">
    <button type="submit"
            class="btn btn-dark custom-btn al"
            (click)="adminService.inviaRisposta()"
            [disabled]="!rispostaAdminValida">
      Invia
    </button>
  </div>
</div>


<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 11" [ngClass]="{'other': !popUpService.isOther}">
  <div class="form-group">
    <div class="d-flex flex-column align-items-center" style="margin-bottom: -2vh">
      <h1>Aggiungi disponibilità</h1>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
  </div>
  <form [formGroup]="formCaesarzon" (ngSubmit)="productService.aggiungiDisponibilita()">
    <div class="form-group gruppo d-flex flex-column align-items-center" formGroupName="formDisponibilita" >
      <div>
        <div class="form-group gruppo d-flex flex-column align-items-center">
          <label for="quantitaXS">Quantità taglia: XS</label>
          <div>
            <input type="number" class="form-control gruppoInputs" id="quantitaXS" formControlName="quantitaXS">
            <div *ngIf="formService.campoNonCorretto('formDisponibilita.quantitaXS')" class="error-message">
              <label class="err">La quantità deve essere: min 10/max 200.</label>
            </div>
          </div>
        </div>
        <div class="form-group gruppo d-flex flex-column align-items-center">
          <label for="quantitaS">Quantità taglia: S</label>
          <div>
            <input type="number" class="form-control gruppoInputs" id="quantitaS" formControlName="quantitaS">
            <div *ngIf="formService.campoNonCorretto('formDisponibilita.quantitaS')" class="error-message">
              <label class="err">La quantità deve essere: min 10/max 200.</label>
            </div>
          </div>
        </div>
        <div class="form-group gruppo d-flex flex-column align-items-center">
          <label for="quantitaM">Quantità taglia: M</label>
          <div>
            <input type="number" class="form-control gruppoInputs" id="quantitaM" formControlName="quantitaM">
            <div *ngIf="formService.campoNonCorretto('formDisponibilita.quantitaM')" class="error-message">
              <label class="err">La quantità deve essere: min 10/max 200.</label>
            </div>
          </div>
        </div>
        <div class="form-group gruppo d-flex flex-column align-items-center">
          <label for="quantitaL">Quantità taglia: L</label>
          <div>
            <input type="number" class="form-control gruppoInputs" id="quantitaL" formControlName="quantitaL">
            <div *ngIf="formService.campoNonCorretto('formDisponibilita.quantitaL')" class="error-message">
              <label class="err">La quantità deve essere: min 10/max 200.</label>
            </div>
          </div>
        </div>
        <div class="form-group gruppo d-flex flex-column align-items-center">
          <label for="quantitaXL">Quantità taglia: XL</label>
          <div>
            <input type="number" class="form-control gruppoInputs" id="quantitaXL" formControlName="quantitaXL">
            <div *ngIf="formService.campoNonCorretto('formDisponibilita.quantitaXL')" class="error-message">
              <label class="err">La quantità deve essere: min 10/max 200.</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center">
      <button type="submit"
              class="btn btn-dark custom-btn al"
              [disabled]="!areAnyFieldsValid()">
        Aggiungi
      </button>

    </div>
  </form>
</div>




<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 12" [ngClass]="{'other': !popUpService.isOther}">
  <div class="form-group">
    <div class="d-flex flex-column align-items-center">
      <h1>Verifica identità</h1>
      <h3>{{ this.userService.stringaOtp}}</h3>
    </div>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
    <div class="d-flex flex-column align-items-center">
      <div class="userInput">
        <input type="text" id="input0" maxlength="1" (input)="updateCodice(0, $event)" [(ngModel)]="this.userService.codice[0]" (keydown)="formService.cifraDigitata($event)">
        <input type="text" id="input1" maxlength="1" (input)="updateCodice(1, $event)" [(ngModel)]="this.userService.codice[1]" (keydown)="formService.cifraDigitata($event)">
        <input type="text" id="input2" maxlength="1" (input)="updateCodice(2, $event)" [(ngModel)]="this.userService.codice[2]" (keydown)="formService.cifraDigitata($event)">
        <input type="text" id="input3" maxlength="1" (input)="updateCodice(3, $event)" [(ngModel)]="this.userService.codice[3]" (keydown)="formService.cifraDigitata($event)">
        <input type="text" id="input4" maxlength="1" (input)="updateCodice(4, $event)" [(ngModel)]="this.userService.codice[4]" (keydown)="formService.cifraDigitata($event)">
      </div>
    </div>
  </div>

  <div class="form-group gruppo d-flex flex-column align-items-center">
    <div *ngIf="this.userService.otpSbagliato" class="error-message">
      Codice OTP errato.
    </div>
    <a href="#" id="resend" (click)="this.userService.forgotPass($event)">Reinvia email</a>

  </div>

  <div class="d-flex flex-column align-items-center">
    <button class="btn btn-dark custom-btn al" id="confirm" (click)="this.userService.sendOTP()" [disabled]="!this.userService.lunghezzaCodice">Conferma</button>
  </div>
</div>


<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 13" [ngClass]="{'other': !popUpService.isOther}">
  <div class="form-group d-flex justify-content-between align-items-center">
    <button (click)="back()" class="btn btn-dark custom-btn mr-1 mt-1">Indietro</button>
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
  </div>

  <div class="container-fluid d-flex flex-column align-items-center">
    <h1 class="titless">Liste dei desideri di {{ this.userService.nomeProfilo }}</h1>

    <div class="form-group d-flex justify-content-center mb-3">
      <button type="button" class="btn btn-dark custom-btn mr-3" (click)="wishListService.getWishS(0, this.userService.nomeProfilo)">Pubbliche</button>
      <button type="button" class="btn btn-dark custom-btn" (click)="wishListService.getWishS(1, this.userService.nomeProfilo)">Condivise con te</button>
    </div>

    <section class="form-group d-flex flex-column align-items-center">
      <div class="table-container" style="overflow-x: auto;">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Nome Lista ({{wishListService.tipoListe}})</th>
            <th scope="col" class="text-center">Azioni</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let item of wishListService.wishLists; let i = index">
            <tr>
              <td>{{ item.name }}</td>
              <td class="text-center">
                <button class="btn btn-dark custom-btn ml-2" (click)="wishListService.getWishListProducts(item.id, 104)">
                  Prodotti
                </button>
              </td>
            </tr>
            <tr *ngIf="wishListService.showProductsMap[item.id]">
              <td colspan="2">
                <p *ngIf="wishListService.wishListProducts.singleWishListProductDTOS.length === 0">{{ this.userService.nomeProfilo }} non ha ancora aggiunto prodotti a questa lista.</p>
                <div *ngFor="let product of wishListService.wishListProducts?.singleWishListProductDTOS">
                  <p class="prodottoOi" (click)="productService.prendiDatiProdotto(product.productId)">
                    {{ product.productName }} - {{ product.price }} €
                  </p>
                </div>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>

<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 14" [ngClass]="{'other': !popUpService.isOther}">
  <div class="form-group d-flex justify-content-between align-items-center">
    <button (click)="popUpService.closePopup()" class="btn btn-dark ics">X</button>
  </div>

  <div class="container-fluid d-flex flex-column align-items-center">
    <h1 class="titless">Modifica Prodotto</h1>

    <form [formGroup]="formCaesarzon" (ngSubmit)="onSubmit()">
      <div formGroupName="formDeiProdotti" >
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input type="text" id="nome" formControlName="nome" class="form-control wider-input">
          <div *ngIf="formService.campoNonCorretto('formDeiProdotti.nome')" class="error-message">
            <label class="err">Il nome non rispetta i requisiti.</label>
          </div>
        </div>

        <div class="form-group">
          <label for="marca">Marca:</label>
          <input type="text" id="marca" formControlName="marca" class="form-control wider-input">
          <div *ngIf="formService.campoNonCorretto('formDeiProdotti.marca')" class="error-message">
            <label class="err">La marca non rispetta i requisiti.</label>
          </div>
        </div>

        <div class="form-group">
          <label for="descrizione">Descrizione:</label>
          <textarea id="descrizione" formControlName="descrizione" class="form-control wider-input"></textarea>
          <div *ngIf="formService.campoNonCorretto('formDeiProdotti.descrizione')" class="error-message">
            <label class="err mt-3">La descrizione non rispetta i requisiti.</label>
          </div>
        </div>

        <div class="form-group">
          <label for="sconto">Sconto (%):</label>
          <input type="number" id="sconto" formControlName="sconto" class="form-control wider-input">
          <div *ngIf="formService.campoNonCorretto('formDeiProdotti.sconto')" class="error-message">
            <label class="err">Lo sconto può essere massimo del 50%.</label>
          </div>
        </div>

        <div class="form-group">
          <label for="prezzo">Prezzo (€):</label>
          <input type="number" id="prezzo" formControlName="prezzo" class="form-control wider-input">
          <div *ngIf="formService.campoNonCorretto('formDeiProdotti.prezzo')" class="error-message">
            <label class="err">Il prezzo non può superare 1.000.000 €</label>
          </div>
        </div>

        <div class="form-group">
          <label for="coloreP">Colore Primario:</label>
          <select name="coloreP" class="form-select selectionIn btn btn-dark custom-bln" id="coloreP" formControlName="coloreP">
            <option value="Rosso">Rosso</option>
            <option value="Verde">Verde</option>
            <option value="Blu">Blu</option>
            <option value="Giallo">Giallo</option>
            <option value="Arancione">Arancione</option>
            <option value="Viola">Viola</option>
            <option value="Rosa">Rosa</option>
            <option value="Marrone">Marrone</option>
            <option value="Grigio">Grigio</option>
            <option value="Nero">Nero</option>
            <option value="Bianco">Bianco</option>
            <option value="Azzurro">Azzurro</option>
            <option value="Oro">Oro</option>
          </select>
        </div>

        <div class="form-group">
          <label for="coloreS">Colore Secondario:</label>
          <select name="coloreS" class="form-select selectionIn btn btn-dark custom-bln" id="coloreS" formControlName="coloreP">
            <option value="Rosso">Rosso</option>
            <option value="Verde">Verde</option>
            <option value="Blu">Blu</option>
            <option value="Giallo">Giallo</option>
            <option value="Arancione">Arancione</option>
            <option value="Viola">Viola</option>
            <option value="Rosa">Rosa</option>
            <option value="Marrone">Marrone</option>
            <option value="Grigio">Grigio</option>
            <option value="Nero">Nero</option>
            <option value="Bianco">Bianco</option>
            <option value="Azzurro">Azzurro</option>
            <option value="Oro">Oro</option>
          </select>
        </div>

        <div class="form-group">
          <label for="sport">Sport:</label>
          <select name="sport" class="form-select selectionIn btn btn-dark custom-bln" id="sport" formControlName="sport">
            <option value="calcio">Calcio</option>
            <option value="pallavolo">Pallavolo</option>
            <option value="basket">Basket</option>
            <option value="tennis">Tennis</option>
            <option value="nuoto">Nuoto</option>
            <option value="arti marziali">Arti marziali</option>
            <option value="ciclismo">Ciclismo</option>
            <option value="sciismo">Sciismo</option>
            <option value="boxe">Boxe</option>
          </select>
        </div>

        <div class="form-group">
          <label for="categoria">Categoria:</label>
          <select name="categoria" class="form-select selectionIn btn btn-dark custom-bln" id="categoria" formControlName="categoria">
            <option value="true">Abbigliamento</option>
            <option value="false">Attrezzatura</option>
          </select>
        </div>

        <div class="form-group d-flex justify-content-center">
          <button type="submit" class="btn btn-dark custom-btn mr-3">Modifica Prodotto</button>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 15" [ngClass]="{'other': !popUpService.isOther}">
<div class="container">
  <div class="d-flex flex-column align-items-center">
    <strong>Taglie e quantità disponibili:</strong>

    <h3 class="messaggio" >{{this.cartService.stringaDisponibilita}}</h3>
    <div *ngIf="this.popUpService.isAvviso">
      <button id="confirma" class="btn btn-dark custom-btn mb-3" (click)="ok()">Ok</button>
    </div>
  </div>
</div>
</div>


<div class="container-fluidos regLog" *ngIf="popUpService.wichComponent === 16" [ngClass]="{'other': !popUpService.isOther}">
  <div class="container">
    <div class="d-flex flex-column align-items-center">
      <h3>Sei sicuro di voler bannare l'utente {{this.userService.username}} ?</h3>

      <div class="form-group gruppo d-flex flex-column align-items-center">
        <label for="descrizione">Motivo del ban</label>
        <textarea class="form-control gruppoInputDesc" id="descBan" minlength="5" maxlength="500" [(ngModel)]="adminService.descrizioneSegnalazione"></textarea>
      </div>
      <div>
        <button id="si" class="btn btn-dark custom-btn mr-3 mb-3 " (click)="this.adminService.banUtente()">Si</button>
        <button id="no" class="btn btn-dark custom-btn mb-3" (click)="this.popUpService.closePopup()">No</button>
      </div>
    </div>
  </div>
</div>
</body>

</html>
