<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
  <form *ngIf="loginService.isLogin" >
    <div class="form-group">
      <h2>Accedi</h2>
      <button (click)="loginService.closePopup()" class="btn btn-primary ics">X</button>
    </div>
    <div class="form-group">
      <label for="usernameL">Username o e-mail:</label>
      <input type="text" class="form-control" id="usernameL">
    </div>
    <div class="form-group">
      <label for="passwordR">Password:</label>
      <input type="text" class="form-control" id="passwordL">
      <a href="#">Hai dimenticato la password?</a>

    </div>



    <div class="d-flex flex-column align-items-center">
      <button type="submit" class="btn btn-primary custom-btn" >Accedi</button>
    </div>

    <div class="form-group">
      <a href="#" (click)="loginService.toggleLogin($event)">Sei nuovo su Caesarzon? Registrati.</a>
    </div>


  </form>

  <form *ngIf="!loginService.isLogin">
    <h2>Registrati</h2>
    <button (click)="loginService.closePopup()"  class="btn btn-primary ics">X</button>
    <div class="form-group">
      <label for="usernameR">Username:</label>
      <input type="text" class="form-control" id=usernameR>
    </div>
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="text" class="form-control" id=email>
    </div>
    <div class="form-group">
      <label for="passwordR">Password:</label>
      <input type="text" class="form-control" id="passwordR">
    </div>
    <div class="form-group">
      <label for="passwordR">Conferma password:</label>
      <input type="text" class="form-control" id="passwordRC">
    </div>

    <div class="d-flex flex-column align-items-center">
      <button type="submit" class="btn btn-primary custom-btn" >Registrati</button>
    </div>

    <div class="form-group">
      <a href="#" (click)="loginService.toggleLogin($event)">Hai già un account? Accedi.</a>
    </div>


  </form>

</div>

<!-- Collegamento a Bootstrap JS e JQuery (opzionale) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
