

.ics:active {
  background-color: #FF9C00 !important;
  box-shadow: 0 0 3px 1px #000000 !important;
  border-color: black;
}



#pop-up-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.uSpinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}



.popup-dialog button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #FF9C00;
  color: white;
  cursor: pointer;
}

.popup-dialog button:hover {
  background-color: #b06e01;
}


.ics {
  position: absolute;
  top: 5px;
  right: 5px;
  border-color: black;
  background-color: #FF9C00;
  color: #ffffff;
  width: 2%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.ics:focus {
  border-color: black;
  background-color: #FF9C00;
  box-shadow: 0 0 3px 1px #000000;

}

.ics:hover {
  background-color: #a96c00;
  border-color: black;
}



.inputContainer{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2vh;
}

.sectionLabelInput{
  display: flex;
  flex-direction: column;
}



.regTxt{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
}

.accediLabel {
  margin-top: 3%;
  font-size: 2rem;
}

.regLog{
  border: 1px solid #08090B;
  border-radius: 1.5vh;

}



.error-message {
  color: #ff0a00;
  position: absolute;

}
.err{
  font-weight: normal;
}


.tasti{
  margin-top: 3vh;
}



.container-fluidos {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 35%;
  max-height: 80vh;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}


.inputRA {
  width: 25vw;
}

.formos {
  margin: 30px;
}
.formoss {
  margin: 10px;
}

@media (min-width: 1000px) {
  .container-fluid {
    width: 50%;
  }
}


.first-column{
  margin-right: 1vw;

}

.second-column {
  margin-left: 1vw;
}

.inputRA input {
  max-width: 100%;
}

.password-input-container {
  position: relative;
}

.password-input-container input {
  padding-right: 2.5rem;
}

.password-input-container .toggle-password {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  cursor: pointer;
}
