<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container-fluidos regLog">
  <div *ngIf="popupService.isLogin" >
    <div class="form-group">
      <div class="d-flex flex-column align-items-center">
        <h1 class="accediLabel">Accedi</h1>
      </div>
      <button (click)="popupService.closePopup()" class="btn btn-dark ics">X</button>
    </div>
    <div class="form-group formos">
      <label for="usernameL">Username o e-mail:</label>
      <input type="text" class="form-control inputLogin" id="usernameL">
    </div>
    <div class="form-group formos">
      <label for="passwordR">Password:</label>
      <div class="password-input-container">
      <input type="password" class="form-control inputLogin" id="password" >
        <span class="toggle-password" (click)="togglePassword('password')">
          <img class="iconaOcchio" src="assets/images/icons/view.png" *ngIf="mostraPassword['password']" alt="" width="20">
          <img class="iconaOcchio" src="assets/images/icons/hide.png" *ngIf="!mostraPassword['password']" alt="" width="20">
        </span>
      </div>

      <a href="#">Ho dimenticato la password.</a>

    </div>



    <div class="d-flex flex-column align-items-center">
      <button type="submit" class="btn btn-dark custom-btn" (click)="keycloakService.generateToken(username, password)" >Accedi</button>
    </div>

    <div class="form-group formos">
      <a href="#" (click)="popupService.toggleLogin($event); cambiaLarghezza(1)" id="registrati-link">Sei nuovo su Caesarzon? Registrati.</a>
    </div>


  </div>

  <form [formGroup]="formCaesarzon" *ngIf="!popupService.isLogin" (ngSubmit)="registrati()">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">Registrati</h1>
    </div>
    <button (click)="popupService.closePopup()"  class="btn btn-dark ics">X</button>


    <div class="d-flex flex-row align-items-center" formGroupName="formRegistrazione" >
      <div class="d-flex flex-column align-items-center first-column">
        <div class="form-group formoss">
          <label for="usernameR">Username:</label>
          <input type="text" class="form-control inputRA" id="usernameR" formControlName="username">
        </div>
        <div class="form-group formoss">
          <label for="nome">Nome:</label>
          <input type="text" class="form-control inputRA" id=nome formControlName="nome">
        </div>
        <div class="form-group formoss">
          <label for="cognome">Cognome:</label>
          <input type="text" class="form-control inputRA" id=cognome formControlName="cognome">
        </div>
      </div>

      <div class="d-flex flex-column align-items-center second-column">
        <div class="form-group formoss">
          <label for="email">E-mail:</label>
          <input type="text" class="form-control inputRA" id=email formControlName="email">
          <div *ngIf="formService.campoNonCorretto('formRegistrazione.email')" class="error-message">
            <label class="err"> Il formato dell' e-mail non è corretto.</label>
          </div>
        </div>

        <div class="form-group formoss">
          <label for="passwordR">Password:</label>
          <div class="password-input-container">
            <input type="password" class="form-control inputRA" id="passwordR" formControlName="password">
            <span class="toggle-password" (click)="togglePassword('passwordR')">
              <img class="iconaOcchio" src="assets/images/icons/view.png" *ngIf="mostraPassword['passwordR']" alt="" width="20">
              <img class="iconaOcchio" src="assets/images/icons/hide.png" *ngIf="!mostraPassword['passwordR']" alt="" width="20">
            </span>
          </div>
          <div *ngIf="formService.campoNonCorretto('formRegistrazione.password')" class="error-message" >
            Formato incorretto: es. CiaoCiao69!
          </div>
        </div>

        <div class="form-group formoss">
          <label for="passwordR">Conferma password:</label>
          <div class="password-input-container">
            <input type="password" class="form-control inputRA" id="passwordCR" formControlName="confermaPassword" maxlength="16" (input)="comparaPassword()">
            <span class="toggle-password" (click)="togglePassword('passwordCR')">
              <img class="iconaOcchio" src="assets/images/icons/view.png" *ngIf="mostraPassword['passwordCR']" alt="" width="20">
              <img class="iconaOcchio" src="assets/images/icons/hide.png" *ngIf="!mostraPassword['passwordCR']" alt="" width="20">
            </span>
          </div>
          <div *ngIf="passwordDifferenti" class="error-message">
            Le password non corrispondono.
          </div>
        </div>

      </div>


    </div>




    <div class="d-flex flex-column align-items-center">
      <button type="submit" class="btn btn-dark custom-btn tasti">Registrati</button>
    </div>

    <div class="form-group formos">
      <a href="#" (click)="popupService.toggleLogin($event); cambiaLarghezza(104)">Hai già un account? Accedi.</a>
    </div>


  </form>

</div>


</body>
</html>
