* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.containerGenerale {
  display: grid;
  grid-template-columns: 1fr 3fr; /* Divide la pagina in due colonne: 1 parte per i filtri e 3 parti per la griglia dei prodotti */
  gap: 20px; /* Spazio tra le colonne */
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  overflow-y: auto; /* Abilita lo scrolling se il contenuto supera l'altezza massima */
}

.filters {
  background-color: #f2f2f2;
  padding: 20px;
}

@media (min-width: 768px) {
  .containerProdotti .col-md-4 {
    flex: 0 0 calc(33.33% - 15px); /* 33.33% per tre colonne con un gap di 15px */
    max-width: calc(33.33% - 15px);
  }
}

.filtriPrezzo{
  display: flex;
  flex-direction: column;
}
.inpots{
  width: 50%;
}
.inpotss{
  width: 30%;
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 200px)); /* Dimensione minima 100px e massima 200px */
  gap: 15px;
  padding: 20px;
}

.containerProdotti {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px; /
}

.product {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.product:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(255, 156, 0);
  transform: scale(1.01);
}


.product img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.product h2, .product h4 {
  margin: 5px 0;
}
