.container {
  background: rgb(217, 217, 217);
  border: 2px solid #08090B;
  border-radius: 2vh;
  display: flex;
  flex-flow: column;
  height: 20%;
  width: auto;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  gap: 2vh;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  padding: 0 20px;
}

h3{
  text-align: center;
  white-space: nowrap;
}

button {
  margin-top: 15vh;
  width: 10vh;
  padding: 1vh;
  border: 2px solid black;
  border-radius: 1vh;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

button:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
