<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Avviso</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<div class="container">
  <div class="d-flex flex-column align-items-center">
    <h3>{{stringa}}</h3>
    <div *ngIf="popup.isAvviso">
      <button id="confirm" class="btn btn-dark custom-btn" (click)="ok()">Ok</button>
    </div>
    <div class="bottoniConferma" *ngIf="!popup.isAvviso">
      <button class="btn btn-dark custom-btn" (click)="confermaOperazione(0)">Si</button>
      <button class="btn btn-dark custom-btn" (click)="confermaOperazione(1)">No</button>
    </div>
  </div>
</div>


