<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<section class="d-flex flex-row align-items-center aldo">
  <div class="ml-4">
    <app-user-management-container></app-user-management-container>
  </div>

  <div class="container-fluid d-flex flex-row align-items-center">
    <div class="container-fluid d-flex flex-column align-items-center aldos">
      <h1 class="titless">LISTE DEI DESIDERI</h1>

      <div class="form-group d-flex flex-row align-items-center">
        <div class="visibility mb-3">
          <button type="button" class="btn btn-dark custom-btn mr-5" (click)="wishListService.getWishS(0, '')">Pubbliche</button>
          <button type="button" class="btn btn-dark custom-btn mr-5" (click)="wishListService.getWishS(1, '')">Condivise</button>
          <button type="button" class="btn btn-dark custom-btn mr-5" (click)="wishListService.getWishS(2, '')">Private</button>
        </div>
      </div>

      <section class="form-group d-flex flex-column align-items-center">
        <div class="table-container">
          <table class="table table-striped">
            <thead>
            <tr >
              <th class="align-items-center" scope="col">Nome Lista  ({{wishListService.tipoListe}})</th>
              <th class="d-flex flex-column align-items-center" scope="col">Azioni</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of wishListService.wishLists; let i = index">
              <tr>
                <td>{{ item.name }}</td>
                <td>

                  <div class="form-group d-flex flex-row align-items-center"  *ngIf="wishListService.section == 0">
                    <div *ngIf="wishListService.wishLists.length === 0">Non hai ancora liste dei desideri pubbliche!</div>
                    <button class="btn btn-dark custom-btn ml-2" (click)="wishListService.getWishListProducts(item.id)">
                      Prodotti
                    </button>
                    <button class="btn btn-dark custom-btn ml-2" (click)="wishListService.changeVisibility(1, item.id)">
                      Condividi
                    </button>
                    <button class="btn btn-dark custom-btn ml-2 mr-5" (click)="wishListService.changeVisibility(2, item.id)">
                      Rendi privata
                    </button>
                    <button class="btn btn-dark custom-btn" (click)="wishListService.deleteWishListsProducts(item.id, item.name)">
                      <i class="fas fa-trash"></i>
                    </button>
                    <button class="btn btn-dark custom-btn ml-5" (click)="wishListService.deleteWishList(item.id, item.name)">
                      X
                    </button>
                  </div>

                  <div class="form-group d-flex flex-row align-items-center"  *ngIf="wishListService.section == 1">
                    <button class="btn btn-dark custom-btn ml-2" (click)="wishListService.getWishListProducts(item.id)">
                      Prodotti
                    </button>
                    <button class="btn btn-dark custom-btn ml-2" (click)="wishListService.changeVisibility(0, item.id)">
                      Pubblica
                    </button>
                    <button class="btn btn-dark custom-btn ml-2 mr-5" (click)="wishListService.changeVisibility(2, item.id)">
                      Rendi privata
                    </button>
                    <button class="btn btn-dark custom-btn" (click)="wishListService.deleteWishListsProducts(item.id, item.name)">
                      <i class="fas fa-trash"></i>
                    </button>
                    <button class="btn btn-dark custom-btn ml-5" (click)="wishListService.deleteWishList(item.id, item.name)">
                      X
                    </button>
                  </div>

                  <div class="form-group d-flex flex-row align-items-center "  *ngIf="wishListService.section == 2">
                    <button class="btn btn-dark custom-btn ml-2" (click)="wishListService.getWishListProducts(item.id)">
                      Prodotti
                    </button>
                    <button class="btn btn-dark custom-btn ml-2" (click)="wishListService.changeVisibility(1, item.id)">
                      Condividi
                    </button>
                    <button class="btn btn-dark custom-btn ml-2 mr-5" (click)="wishListService.changeVisibility(0, item.id)">
                      Pubblica
                    </button>
                    <button class="btn btn-dark custom-btn" (click)="wishListService.deleteWishListsProducts(item.id, item.name)">
                      <i class="fas fa-trash"></i>
                    </button>
                    <button class="btn btn-dark custom-btn ml-5" (click)="wishListService.deleteWishList(item.id, item.name)">
                      X
                    </button>
                  </div>

                </td>
              </tr>
              <tr *ngIf="wishListService.showProductsMap[item.id]">
                <td colspan="2">
                  <p *ngIf="wishListService.emptyList">Non hai ancora aggiunto prodotti a questa lista</p>
                  <div *ngFor="let product of wishListService.wishListProductsMap[item.id]?.singleWishListProductDTOS">
                    <p class="prodottoOi" (click)="productService.prendiDatiProdotto(product.productId)">
                      {{ product.productName }} - {{ product.price }} €
                    </p>
                    <button class="btn btn-dark custom-btn ml-2" (click)="wishListService.deleteWishListproduct(item.id, product.productId, product.productName)">
                      <i class="fas fa-minus mb-2"></i> Rimuovi Prodotto
                    </button>
                  </div>
                </td>
              </tr>

            </ng-container>

            </tbody>
          </table>
        </div>
      </section>
      <button type="button" class="btn btn-dark custom-btn mr-5" (click)="creaNuovaLista()">Crea nuova lista desideri</button>

    </div>

  </div>

</section>

<footer>
  <app-footer></app-footer>
</footer>

</body>
</html>
