.left-containers{
  background-color: #F7F7F7;
  border: 1px solid black;
  max-height: 30vh;
  min-height: 30vh;
  overflow: auto;
}
p{
  font-weight: bold;
}

footer {
  background-color: #352244;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.container-total{
  background-color: #F7F7F7;
  border: 1px solid black;
  min-height: 50%;
}
.prodotto-singolo{
  border: 1px solid black;
}

.para{
  text-align: center;
}

.label-containers{
  margin-top: 1%;
  margin-bottom: 0;
  margin-left: 2%;
}

a:link {
  text-decoration: none;
  color: #FF9C00;
}

a:visited {
  text-decoration: none;
  color: #FF9C00;
}

a:hover {
  text-decoration: none;
  color: #a96c00;
}

a:active {
  text-decoration: none;
  color: #FF9C00;
}
