.left-containers{
  background-color: #F7F7F7;
  border: 1px solid black;
  max-height: 40vh;
  min-height: 40vh;
  overflow: auto;
}

.container-total{
  background-color: #F7F7F7;
  border: 1px solid black;
  min-height: 50%;
}
.prodotto-singolo{
  border: 1px solid black;
}

.para{
  text-align: center;
}
