<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina prodotto</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-9">  <!--LISTA DEI PRODOTTI-->

      <!-- <div *ngFor="let sesso of sex"> -->  <!--PRODOTTI NEL CARRELLO-->
      <div class="row">
          <div class="container left-containers mt-4">
              <div class="scroll-row">
                  <div class="row mt-2">
                      <div class="col">
                          <div class="row product-row">  <!--RIGA DEL SINGOLO PRODOTTO -->
                            <div class="col-5 align-content-center">
                                <p>Immagine prod</p>
                            </div>

                            <div class="col">
                                <div class="row">
                                    <p>Nome prod</p>
                                </div>
                                <div class="row">
                                    <p>Quantità</p>
                                </div>
                                <div class="row">
                                    <p>Acquista più tardi</p>
                                </div>
                            </div>
                          </div>
                      </div>
                      <div class="col">
                          <div class="row product-row">  <!--RIGA DEL SINGOLO PRODOTTO -->
                              <div class="col-5 align-content-center">
                                  <p>Immagine prod</p>
                              </div>

                              <div class="col">
                                  <div class="row">
                                      <p>Nome prod</p>
                                  </div>
                                  <div class="row">
                                      <p>Quantità</p>
                                  </div>
                                  <div class="row">
                                      <p>Acquista più tardi</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row mt-2">
                      <div class="col">
                          <div class="row product-row">  <!--RIGA DEL SINGOLO PRODOTTO -->
                              <div class="col-5 align-content-center">
                                  <p>Immagine prod</p>
                              </div>

                              <div class="col">
                                  <div class="row">
                                      <p>Nome prod</p>
                                  </div>
                                  <div class="row">
                                      <p>Quantità</p>
                                  </div>
                                  <div class="row">
                                      <p>Acquista più tardi</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col">
                          <div class="row product-row">  <!--RIGA DEL SINGOLO PRODOTTO -->
                              <div class="col-5 align-content-center">
                                  <p>Immagine prod</p>
                              </div>

                              <div class="col">
                                  <div class="row">
                                      <p>Nome prod</p>
                                  </div>
                                  <div class="row">
                                      <p>Quantità</p>
                                  </div>
                                  <div class="row">
                                      <p>Acquista più tardi</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
        </div>
      </div>
      <!-- </div> -->
        <div class="row">  <!--ACQUISTA PIù TARDI-->
          <p>sso1</p>
        </div>
      </div>

      <div class="col md">  <!--SEZIONE DI ACQUISTO-->
        <p>so2</p>
      </div>
    </div>
  </div>
</body>
</html>
