<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina prodotto</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-9">  <!--LISTA DEI PRODOTTI-->
          <div class="row">
            <p class="label-containers">Carrello</p>
          </div>

          <div class="row">
            <div class="container left-containers ml-2">  <!-- CARRELLO -->
              <div class="collection">
                <!-- Imagine a loop produced this... -->
                <div class="product" *ngFor="let item of cartService.productInCart">
                  <a class="product__image" href="#"></a>

                  <div class="product__name">
                    <p>
                      <a href="#">{{item.name}}</a>
                    </p>
                  </div>
                  <div class="product__price">
                    <p>{{item.total}}
                  </div>
                  <div class="product__details row" style="display: flex">
                    <div class="col-6 ml-3">
                      <label for="quantity">Quantità:</label>
                      <select id="quantity" class="form-control" [(ngModel)]="item.quantity">
                        <option *ngFor="let qty of [1,2,3,4,5,6,7,8,9,10]" [value]="qty">{{qty}}</option>
                      </select>
                    </div>
                    <div *ngIf="item.size != null" class="col-6 mr-3">
                      <label for="size">Taglia:</label>
                      <select id="size" class="form-control" [(ngModel)]="item.size">
                        <option *ngFor="let size of ['XS','S', 'M', 'L', 'XL']" [value]="size">{{size}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="product__options" >
                    <a href="#" (click)="this.cartService.salvaPerDopo($event, item.id)">Salva per dopo</a>
                  </div>
                  <div class="product__options" >
                    <a href="#">Rimuovi</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="container left-containers ml-2">  <!-- SALVA PER DOPO -->
              <div class="collection">
                <!-- Imagine a loop produced this... -->
                <div class="product" *ngFor="let item of cartService.productInCart">
                  <a class="product__image" href="#"></a>

                  <div class="product__name">
                    <p>
                      <a href="#">{{item.name}}</a>
                    </p>
                  </div>
                  <div class="product__price">
                    <p>{{item.total}}
                  </div>
                  <div class="product__details row" style="display: flex">
                    <div class="col-6 ml-3">
                      <label for="quantity">Quantità:</label>
                      <select id="quantity" class="form-control" [(ngModel)]="item.quantity">
                        <option *ngFor="let qty of [1,2,3,4,5,6,7,8,9,10]" [value]="qty">{{qty}}</option>
                      </select>
                    </div>
                    <div *ngIf="item.size != null" class="col-6 mr-3">
                      <label for="size">Taglia:</label>
                      <select id="size" class="form-control" [(ngModel)]="item.size">
                        <option *ngFor="let size of ['XS','S', 'M', 'L', 'XL']" [value]="size">{{size}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="product__options" >
                    <a href="#" (click)="this.cartService.salvaPerDopo($event, item.id)">Salva per dopo</a>
                  </div>
                  <div class="product__options" >
                    <a href="#">Rimuovi</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <div class="col md mt-5">  <!--SEZIONE DI ACQUISTO-->

          <div class="container container-total mt-5 mb-2">
            <div class="row d-flex flex-column align-items-center mt-4">
              <p class="para">Prodotti nel carrello 25</p>
            </div>
            <div class="row d-flex flex-column align-items-center">
              <p class="para">Totale carrello 25</p>
            </div>
            <div class="row d-flex flex-column align-items-center">
              <button type="button" class="btn btn-dark custom-btn mt-5 mb-2" (click)="goToPayment()">Acquista</button>
            </div>
          </div>

        </div>

      </div>
    </div>
</body>

</html>
