<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<section class="d-flex flex-row align-items-center aldo">
  <div class="ml-4">
    <app-user-management-container></app-user-management-container>
  </div>


  <div class="container-fluid d-flex flex-column align-items-left">

     <div class="d-flex flex-column align-items-center">
       <h1 class="title" >RICHIEDI ASSISTENZA</h1>

       <label>Motivo della richiesta:</label>
          <select class="form-select selectionIn btn btn-dark custom-bln" [(ngModel)]="adminService.motivoRichiesta" name="where">
            <option value="Ordine">Ordine</option>
            <option value="Spedizione">Spedizione</option>
            <option value="Resi e rimborsi">Resi e rimborsi</option>
            <option value="Domande sui prodotti">Domande sui prodotti</option>
            <option value="Assistenza post-vendita">Assistenza post-vendita</option>
            <option value="Problemi tecnici">Problemi tecnici</option>
            <option value="Modifiche dell'account">Modifiche dell'account</option>
            <option value="Promozioni e sconti">Promozioni e sconti</option>
            <option value="Feedback e suggerimenti">Feedback e suggerimenti</option>
            <option value="Assistenza personalizzata">Assistenza personalizzata</option>
          </select>
        </div>

    <section class="form-group d-flex flex-column align-items-center">
      <div class="d-flex flex-column align-items-center">

        <div class="d-flex flex-column align-items-center">
          <label>Oggetto:</label>
          <input class="form-control"  type="text" id="oggetto" minlength="5" maxlength="50" [(ngModel)]="adminService.oggetto">

          <div class="form-group d-flex flex-column align-items-center">
            <label>Descrizione:</label>
            <textarea class="form-control"  id="descrizione" rows="6" cols="50" minlength="5" maxlength="500" [(ngModel)]="adminService.descrizioneRichiesta"></textarea>
          </div>
        </div>

      </div>
      <button type="button" class="btn btn-dark custom-btn" (click)="sendHelpRequest()" [disabled]="!isFormValid()">Invia richiesta</button>

    </section>


  </div>

</section>
</body>
<footer>
  <app-footer></app-footer>
</footer>
</html>
