<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<section class="d-flex flex-row align-items-center aldo">
  <div class="ml-4">
    <app-user-management-container></app-user-management-container>
  </div>


  <div class="container-fluid d-flex flex-column align-items-left">

     <div class="d-flex flex-column align-items-center">
       <h1 class="title" >RICHIEDI ASSISTENZA</h1>

       <label>Motivo della richiesta:</label>
          <select class="form-select selectionIn btn btn-dark custom-bln" [ngModel]="motivoRichiesta" name="where">
            <option>Ordine</option>
            <option>Spedizione</option>
            <option>Resi e rimborsi</option>
            <option>Domande sui prodotti</option>
            <option>Assistenza post-vendita</option>
            <option>Problemi tecnici</option>
            <option>Modifiche dell'account</option>
            <option>Promozioni e sconti</option>
            <option>Feedback e suggerimenti</option>
            <option>Assistenza personalizzata</option>
            <!-- ATTENZIONE L'ADMIN AVRà LA POSSIBILITA DI MODIFICARE I SUOI DATI-->
          </select>
        </div>

    <section class="form-group d-flex flex-column align-items-center">
      <div class="d-flex flex-column align-items-center">

        <div class="d-flex flex-column align-items-center">
          <label>Oggetto:</label>
          <input class="form-control"  type="text" id="oggetto" minlength="5" maxlength="50" [ngModel]="oggetto">

          <div class="form-group d-flex flex-column align-items-center">
            <label>Descrizione:</label>
            <textarea class="form-control"  id="descrizione" rows="6" cols="50" minlength="5" maxlength="500" [ngModel]="descrizioneRichiesta"></textarea>
          </div>
        </div>

      </div>
      <button type="button" class="btn btn-dark custom-btn" (click)="sendHelpRequest()" [disabled]="!isFormValid()" >Invia richiesta</button>

    </section>


  </div>

</section>
</body>
<footer>
  <app-footer></app-footer>
</footer>
</html>
