<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="container pt-5 pb-5">

  <div class="row">
    <div class="col-xl-8">
      <div class="card">
        <div class="card-body">
          <ol class="activity-checkout mb-0 px-4 mt-3">

            <li class="checkout-item">
              <div class="avatar checkout-icon p-1">
                <div class="avatar-title rounded-circle">
                  <i class="bx bxs-truck text-white font-size-20"></i>
                </div>
              </div>

              <div class="feed-item-list">
                <div>
                  <h5 class="font-size-16 mb-1">Specifiche per la spedizione</h5>
                  <p class="text-muted text-truncate mb-4">Invia a</p>
                  <div class="mb-3">
                    <div class="row">
                      <div class="col-lg-4 col-sm-6" *ngFor="let address of addressService.addresses; let i = index">
                        <div  class="card-radio-label mb-0">
                          <label class="card-radio text-truncate p-3">
                            <span class="fs-14 mb-2 d-block">{{keyCloak.getNomeUtente()}} {{keyCloak.getCognomeNomeUtente()}}</span>
                            <span class="fs-14 mb-2 d-block">{{ address?.roadName }}</span>
                            <span class="fs-14 mb-2 d-block">{{ address?.houseNumber }}</span>
                            <span class="text-muted fw-normal text-wrap mb-1 d-block">{{ address?.city?.city }}, {{ address?.city?.province }}</span>
                            <span class="text-muted fw-normal d-block">CAP {{ address?.city?.cap }}</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ol>

          <ol class="activity-checkout mb-0 px-4 mt-3">

            <li class="checkout-item">
              <div class="avatar checkout-icon p-1">
                 <div class="avatar-title rounded-circle">
                   <i class="bx bxs-wallet-alt text-white font-size-20"></i>
                 </div>
              </div>

              <div class="feed-item-list">
                <div>
                  <h5 class="font-size-16 mb-1">Specifiche di pagamento</h5>
                  <p class="text-muted text-truncate mb-4">Seleziona un metodo di pagamento</p>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-sm-6" *ngFor="let cards of cardService.cards; let i = index">
                    <div  class="card-radio-label mb-0">
                      <label class="card-radio text-truncate p-3">
                        <span class="fs-14 mb-2 d-block">{{cards.owner}}</span>
                        <span class="fs-14 mb-2 d-block">{{ cards.cardNumber }}</span>
                        <span class="text-muted fw-normal text-wrap mb-1 d-block">{{ cards.expiryDate}}</span>
                      </label>
                    </div>
                  </div>
                </div>

              </div>
            </li>
          </ol>
        </div>
      </div>

      <div class="row my-4">
        <div class="col">
          <button class="btn btn-link text-muted" (click)="goBackToCart()">
            <i class="mdi mdi-arrow-left me-1"></i>  Torna al carrello</button>
        </div> <!-- end col -->
        <div class="col">
          <div class="text-end mt-2 mt-sm-0">
            <a href="#" class="btn btn-success">
              <i class="mdi mdi-cart-outline me-1"></i> Procedi </a>
          </div>
        </div> <!-- end col -->
      </div> <!-- end row-->
    </div>
    <div class="col-xl-4">
      <div class="card checkout-order-summary">
        <div class="card-body">
          <div class="p-3 bg-light mb-3">
            <h5 class="font-size-16 mb-0">Riepilogo ordine <span class="float-end ms-2">#MN0124</span></h5>
          </div>
          <div class="table-responsive">
            <table class="table table-centered mb-0 table-nowrap">
              <thead>
              <tr>
                <th class="border-top-0" scope="col">Prodotti</th>
                <th class="border-top-0" scope="col">Prezzo</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <h5 class="font-size-16 text-truncate"><a href="#" class="text-dark">Waterproof Mobile Phone</a></h5>
                  <p class="text-muted mb-0">
                    <i class="bx bxs-star text-warning"></i>
                    <i class="bx bxs-star text-warning"></i>
                    <i class="bx bxs-star text-warning"></i>
                    <i class="bx bxs-star text-warning"></i>
                    <i class="bx bxs-star-half text-warning"></i>
                  </p>
                  <p class="text-muted mb-0 mt-1">$ 260 x 2</p>
                </td>
                <td>$ 520</td>
              </tr>
              <tr>
                <td>
                  <h5 class="font-size-16 text-truncate"><a href="#" class="text-dark">Smartphone Dual Camera</a></h5>
                  <p class="text-muted mb-0">
                    <i class="bx bxs-star text-warning"></i>
                    <i class="bx bxs-star text-warning"></i>
                    <i class="bx bxs-star text-warning"></i>
                    <i class="bx bxs-star text-warning"></i>
                  </p>
                  <p class="text-muted mb-0 mt-1">$ 260 x 1</p>
                </td>
                <td>$260</td>
              </tr>
              <tr>
                <td colspan="1">
                  <h5 class="font-size-14 m-0">Totale senza sconto :</h5>
                </td>
                <td>€ 780</td>
              </tr>
              <tr>
                <td colspan="1">
                  <h5 class="font-size-14 m-0">Sconto :</h5>
                </td>
                <td>- € 78</td>
              </tr>

              <tr>
                <td colspan="1">
                  <h5 class="font-size-14 m-0">Costi di spedizione :</h5>
                </td>
                <td>€ 25</td>
              </tr>

              <tr class="bg-light">
                <td colspan="1">
                  <h5 class="font-size-14 m-0">Totale:</h5>
                </td>
                <td>€ 745.2</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div>
<footer>
  <app-footer></app-footer>
</footer>
