.form{
  gap: 10vh;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.form-control{
  max-width: 60vh;
}

.orders{
  margin-top: 5%;
}

.btn{
  margin: 4vh 5vh 10vh 0;
  padding: 1vh;
  border: 2px solid black;
  border-radius: 1vh;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button{
  bottom: 20px;
  right: 20px;
  width: 150px;
  margin-left: 5%;
  border-radius: 30px;
  padding: 10px;
  transition: box-shadow 0.3s ease;
}

.endButtons{
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-left: 40%;
  margin-bottom: 5%;
}
