<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
<section class="d-flex flex-row align-items-center aldo">
  <div class="ml-4">
    <app-admin-management-container></app-admin-management-container>
  </div>

  <div *ngIf="adminService.section === 0" class="container-fluid">
    <div class="search-container mb-2">
      <input type="text" placeholder="Cerca utenti">
    </div>

    <div class="container left-containers">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="text-center align-middle"></th>
          <th class="text-center align-middle">Username</th>
          <th class="text-center align-middle">Azioni</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of adminService.users; let i = index">
          <tr>
            <td class="text-center align-middle">
              <img [src]="item.safeImageUrl" alt="" width="50" height="50">
            </td>
            <td class="text-center align-middle">{{ item.username }}</td>
            <td class="text-center align-middle">
              <div class="d-flex flex-row align-items-center justify-content-center">
                <button class="btn-dark custom-btn effe" (click)="changePage('personal-data', item.username)">
                  <i class="fas fa-user iconsearch"></i>
                </button>
                <button class="btn-dark custom-btn effe ml-2" (click)="changePage('da-fare', item.username)">
                  <i class="fas fa-shopping-cart iconsearch"></i>
                </button>
                <button class="btn-dark custom-btn effe ml-2" (click)="changePage('wish-list', item.username)">
                  <i class="fas fa-heart iconsearch"></i>
                </button>
                <button class="btn-dark custom-btn effe ml-2" (click)="changePage('address-data', item.username)">
                  <i class="fas fa-map-marker-alt iconsearch"></i>
                </button>
                <button class="btn-dark custom-btn effe ml-2" (click)="changePage('payment-data', item.username)">
                  <i class="fas fa-credit-card iconsearch"></i>
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>







  <div *ngIf="adminService.section === 1" class="container-fluid">
    <h1 class="title text-center centra">SEGNALAZIONI</h1>
    <div class="container left-containers">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="text-center align-middle">Codice segnalazione</th>
          <th class="text-center align-middle">Utente segnalato</th>
          <th class="text-center align-middle">Motivazione</th>
          <th class="text-center align-middle">Data segnalazione</th>
          <th class="text-center align-middle">Azioni</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of adminService.reports; let i = index">
          <tr>
            <td class="text-center align-middle">{{ item.reportCode }}</td>
            <td class="text-center align-middle">{{ item.usernameUser2 }}</td>
            <td class="text-center align-middle">{{ item.reason }}</td>
            <td class="text-center align-middle">{{ item.reportDate}}</td>
            <td class="text-center align-middle">
              <div class="d-flex flex-row align-items-center justify-content-center">
                <button class="btn-dark custom-btn effes" (click)="bannaUtente(i)">
                  <p class="fas fa-check icon-small"> Banna</p>
                </button>
                <button class="btn-dark custom-btn effes ml-2" (click)="scartaSegnalazione(i)">
                  <p class="fas fa-ban icon-small"> Scarta</p>
                </button>
                <button class="btn-dark custom-btn effes ml-2" (click)="toggleCollapse(i)">
                  <p class="fas fa-arrow-down icon-small mt-0"> Descrizione</p>
                </button>
              </div>
            </td>
          </tr>
          <tr *ngIf="isCollapsed[i]">
            <td class="text-center align-middle" colspan="4">{{ item.description }}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="adminService.section === 2" class="container-fluid">
    <h1 class="title text-center centra">RICHIESTE ASSISTENZA</h1>
    <div class="container left-containers">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="text-center align-middle">Codice richiesta</th>
          <th class="text-center align-middle">Utente</th>
          <th class="text-center align-middle">Tipo</th>
          <th class="text-center align-middle">Data richiesta</th>
          <th class="text-center align-middle">Azioni</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of adminService.supports; let i = index">
          <tr>
            <td class="text-center align-middle">{{ item.supportCode}}</td>
            <td class="text-center align-middle">{{ item.username }}</td>
            <td class="text-center align-middle">{{ item.type}}</td>
            <td class="text-center align-middle">{{ item.dateRequest}}</td>
            <td class="text-center align-middle">
              <div class="d-flex flex-row align-items-center justify-content-center">
                <button class="btn-dark custom-btn effes" (click)="inviaRisposta(i)">
                  <p class="fas fa-check icon-small"> Rispondi</p>
                </button>
                <button class="btn-dark custom-btn effes ml-2" (click)="toggleCollapse(i)">
                  <p class="fas fa-arrow-down icon-small mt-0"> Descrizione</p>
                </button>
              </div>
            </td>
          </tr>
          <tr *ngIf="isCollapsed[i]">
            <td class="text-center align-middle" colspan="4">{{ item.text }}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>


  <div *ngIf="adminService.section === 3" class="container-fluid">
    <h1 class="title text-center centra">UTENTI BANNATI</h1>
    <div class="container left-containers">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="text-center align-middle">Data ban</th>
          <th class="text-center align-middle">Utente bannato</th>
          <th class="text-center align-middle">Motivazione</th>
          <th class="text-center align-middle">Azioni</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of adminService.bans; let i = index">
          <tr>
            <td class="text-center align-middle">{{ item.data}}</td>
            <td class="text-center align-middle">{{ item.username }}</td>
            <td class="text-center align-middle">{{ item.motivo }}</td>
            <td class="text-center align-middle">
              <div class="d-flex flex-row align-items-center justify-content-center">
                <button class="btn-dark custom-btn effes" (click)="deleteItem(i)">
                  <p class="fas fa-ban icon-small"> Rimuovi ban</p>
                </button>
                <button class="btn-dark custom-btn effes ml-2" (click)="toggleCollapse(i)">
                  <p class="fas fa-arrow-down icon-small mt-0"> Descrizione</p>
                </button>
              </div>
            </td>
          </tr>
          <tr *ngIf="isCollapsed[i]">
            <td class="text-center align-middle" colspan="4">{{ item.descrizioneban }}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>

</section>


</body>
<footer>
  <app-footer></app-footer>
</footer>

</html>

