.aldo {
  margin-top: 2%;

}

.gas{
  margin-right: auto;
}



footer {
  background-color: #352244;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.left-containers {
  background-color: #F7F7F7;
  border: 1px solid black;
  max-height: 60vh;
  min-height: 60vh;
  overflow: auto;

}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
}

.gus{
  margin: 10px;
}


.btn i{
  padding: 10px 20px;
  font-size: 40px;
}

.pippo{
  max-width: 20%;
}

.esse{
  width: 5vw;
  border: 1px solid black;
  border-radius: 3px;
}

.btn i.icon-small {
  font-size: 20px;
}


.search-container {
  display: flex;
  position: relative;
  width: 58vw;
}

.search-container input[type=text] {
  padding: 10px;
  width: 58vw;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.iconsearch {
  font-size: 15px;
}

.effes{
  width: 8vw;
  height: 5vh;
  border: 1px solid black;
  border-radius: 3px;
}

.effe{
  width: 5vw;
  height: 5vh;
  border: 1px solid black;
  border-radius: 3px;
}

