<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Il tuo E-commerce</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
  <div class="container-fluid mt-4 mb-4">
    <div class="row">

      <div class="col-md">
        <div id="left-col-container">
          <div id="image-array">
            <button type="button" class="btn btn-light little-image"><img src="assets/images/image-array-ex.png" width="75px" height="55px"> </button>
            <button type="button" class="btn btn-light little-image"><img src="assets/images/image-array-ex.png" width="75px" height="55px"> </button>
            <button type="button" class="btn btn-light little-image"><img src="assets/images/image-array-ex.png" width="75px" height="55px"> </button>
            <button type="button" class="btn btn-light little-image"><img src="assets/images/image-array-ex.png" width="75px" height="55px"> </button>
          </div>

          <div>
            <img src="assets/images/image-array-ex.png" width="550px" height="530px">
          </div>
        </div>
      </div>

      <div class="col-md">
        <p>Sesso a pecora2</p>
      </div>

    </div>
  </div>
</body>
</html>
