#left-col-container{
  display: flex;
  gap: 2%;
}

#image-array{
  display: flex;
  flex-direction: column;
}

.little-image{
  margin-bottom: 2%;
  padding: 0 0 0 0;
}

#product-name{

}

#product-descr{

}

#quantity{
  width: 35%;
  text-align: center;
}

.table-row{
  padding-bottom: 10%;
}

