<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina prodotto</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
  <div class="container-fluid mt-4 mb-4">
    <div class="row">

      <div class="col-md">   <!--SEZIONE DELLE IMMAGINI DEL PRODOTTO -->
        <div id="left-col-container">
          <div id="image-array">
            <button *ngIf="!keyCloak.getAdmin()" class="btn btn-danger ml-2" (click)="adminService.inviaSegnalazione()">Segnala</button>

            <button type="button" class="btn btn-light little-image"><img src="assets/images/image-array-ex.png" width="75px" height="55px"> </button>
            <button type="button" class="btn btn-light little-image"><img src="assets/images/image-array-ex.png" width="75px" height="55px"> </button>
            <button type="button" class="btn btn-light little-image"><img src="assets/images/image-array-ex.png" width="75px" height="55px"> </button>
            <button type="button" class="btn btn-light little-image"><img src="assets/images/image-array-ex.png" width="75px" height="55px"> </button>
          </div>

          <div>
            <img src="assets/images/image-array-ex.png" width="550px" height="530px">
          </div>
        </div>
      </div>

      <div class="col-md">  <!--SEZIONE NOME E DESCRIZIONE PRODOTTO -->
        <div class="row">
          <div class="col-md">
            <p id="product-name"><b>{{this.productService.prodotto.name}}</b></p>
            <p id="product-descr">{{this.productService.prodotto.description}}</p>
            <p id="product-brand"><b class="bolds">Marca: </b>{{this.productService.prodotto.brand}}</p>
            <p id="product-primary"><b class="bolds">Colore primario: </b>{{this.productService.prodotto.primaryColor}}</p>
            <p id="product-secondary"><b class="bolds">Colore secondario: </b>{{this.productService.prodotto.secondaryColor}}</p>
            <p id="product-sport"><b class="bolds">Sport: </b>{{this.productService.prodotto.sport}}</p>
          </div>

        <div class="col-md mt-5"> <!--SEZIONE DATI ACQUISTO -->
          <div class="container buy-section mt-5">

              <div class="row pt-4 pl-2">
                <p id="order-delivery">Consegna prevista entro il {{this.day}}/{{this.month}}/{{this.year}}</p>
              </div>

              <div class="row pl-2">
                  <p>Seleziona la quantità desiderata:</p>
                  <select name ="quantity-selection" id="quantity">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  </select>
              </div>

              <div class="row pt-4 pl-2">
                <p id="price">Prezzo: <b>{{this.productService.prodotto.price}}€</b></p>
              </div>

            <div class="row pl-2">
              <p id="discount">Sconto: {{this.productService.prodotto.discount}}%</p>
            </div>

              <div class="row d-flex flex-column align-items-center">
                <button *ngIf="!keyCloak.getAdmin()" type="button" class="btn btn-dark btn-buy mb-2" (click)="instaBuy($event)">Acquista</button>
                <button *ngIf="keyCloak.getAdmin()" type="button" class="btn btn-dark btn-buy mb-2" (click)="instaBuy($event)">Modifica prodotto</button>
              </div>

              <div class="row d-flex flex-column align-items-center">
                <button *ngIf="!keyCloak.getAdmin()" type="button" class="btn btn-dark btn-custom mb-2">Aggiungi al carrello</button>
                <button *ngIf="keyCloak.getAdmin()" type="button" class="btn btn-dark btn-custom mb-2">Rimuovi prodotto</button>
              </div>

              <div class="row d-flex flex-column align-items-center">
                <button *ngIf="!keyCloak.getAdmin()" type="button" class="btn btn-dark btn-custom" (click)="popUpService.openPopups(5, true)">Aggiungi alla lista desideri</button>
                <button *ngIf="keyCloak.getAdmin()" type="button" class="btn btn-dark btn-custom" (click)="popUpService.openPopups(5, true)">Aggiungi disponibilità</button>
              </div>

              <div class="row pt-4 pl-2">
                <p>Reso disponibile entro 30 giorni dall'acquisto</p>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>

  <div class="container mt-5 pt-5 pl-5 pr-5">  <!--SEZIONE RECENSIONI -->
    <div class="row">

      <div class="col">  <!--SEZIONE MEDIA-->
        <div class="row">
          <p><b>Recensioni clienti</b></p>
        </div>

        <div class="row">
          <p>Media voto: {{this.productService.mediaRecensioni}}/5</p>
        </div>

        <div class="row">
          <p>Numero recensioni: {{this.productService.numeroRecensioni}}</p>
        </div>

        <div class="row">
          <p>{{this.productService.scoreRecensioni[4]}} recensioni 5 stelle</p>
        </div>
        <div class="row">
          <p>{{this.productService.scoreRecensioni[3]}} recensioni 4 stelle</p>
        </div>
        <div class="row">
          <p>{{this.productService.scoreRecensioni[2]}} recensioni 3 stelle</p>
        </div>
        <div class="row">
          <p>{{this.productService.scoreRecensioni[1]}} recensioni 2 stelle</p>
        </div>
        <div class="row">
          <p>{{this.productService.scoreRecensioni[0]}} recensioni 1 stelle</p>
        </div>
      </div>


      <div class="col"><!--SEZIONE SINGOLE RECENSIONI-->
        <div class="row" *ngIf="productService.recensioni.length===0">
          <div class="card mb-2">
            <div class="card-header">
              <b></b>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>Il prodotto non ha ancora recensioni <br>Lasciaci la tua!</p>
                <footer class="blockquote-footer">
                </footer>
              </blockquote>
            </div>
          </div>
        </div>

        <div class="row" *ngFor="let item of productService.recensioni; let i=index">
          <div class="card mb-2">
            <div class="card-header">
              <b>{{item.username}}</b>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{item.text}}</p>
                <footer class="blockquote-footer">
                  Publicato in data: <cite title="Source Title">{{item.date}}</cite>
                  <button *ngIf="!keyCloak.getAdmin()" class="btn btn-danger ml-2">Segnala</button>
                  <button *ngIf="keyCloak.getAdmin()" class="btn btn-danger ml-2">Rimuovi</button>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>

        <div class="row mt-2">
            <button class="btn btn-dark btn-custom mr-2" *ngIf="productService.recensioni.length>0">Up</button>
            <button class="btn btn-dark btn-custom mr-5" *ngIf="productService.recensioni.length>0">Down</button>
            <button class="btn btn-dark btn-buy">Aggiungi recensione</button>
        </div>
      </div>

    </div>
  </div>

  </div>
</body>
<footer>
  <app-footer></app-footer>
</footer>
</html>
