<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Report</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container-fluidos regLog">
  <div class="form-group">
    <div class="d-flex flex-column align-items-center">
      <h1 class="accediLabel">Crea una nuova lista dei desideri</h1>
    </div>
    <button (click)="popupService.closePopup()" class="btn btn-dark ics">X</button>
    <div class="d-flex flex-column align-items-center">
      <label for="motivo">Visibilità (potrai cambiarla in seguito)</label>
      <select name="visibilita" class="form-select selectionIn btn btn-dark custom-bln" id="motivo">
        <option value="privata">Privata</option>
        <option value="pubblica">Pubblica</option>
        <option value="amici">Amici</option>

      </select>

    </div>


  </div>


  <div class="form-group gruppo d-flex flex-column align-items-center">
    <label for="descrizione">Nome lista</label>
    <input class="form-control gruppoInputDesc" id="descrizione" maxlength="30">
  </div>

  <div class="d-flex flex-column align-items-center">
    <button type="submit" class="btn btn-dark custom-btn al" >Crea</button>
  </div>
</div>


</body>
</html>
