<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<section class="d-flex flex-row align-items-center aldo">
  <div class="ml-4">
    <app-user-management-container></app-user-management-container>
  </div>

  <div class="container-fluid d-flex flex-row align-items-center">
    <div class="container-fluid d-flex flex-column align-items-center aldos">
      <h1 class="titless">ORDINI EFFETTUATI</h1>

      <div class="form-group d-flex flex-row align-items-center">
        <div class="visibility mb-3">
          <button type="button" class="btn btn-dark custom-btn mr-5" (click)="wishListService.getWishS(0)">Ordini</button>
          <button type="button" class="btn btn-dark custom-btn mr-5" (click)="wishListService.getWishS(1)">Resi</button>
        </div>
      </div>

      <section class="form-group d-flex flex-column align-items-center">
        <div class="table-container">
          <table class="table table-striped">
            <thead>
            <tr >
              <th class="align-items-center" scope="col">Numero ordine</th>
              <th class="d-flex flex-column align-items-center" scope="col">Azioni</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of orderService.orders; let i = index">
              <tr>
                <td>{{ item.orderNumber }}</td>
                <td>
                  <div class="form-group d-flex flex-row align-items-center">
                    <button class="btn btn-dark custom-btn ml-2" (click)="orderService.getProductsInOder(item.id)">
                      Prodotti
                    </button>
                    <button class="btn btn-dark custom-btn ml-5">
                      Dettagli ordine
                    </button>
                    <button class="btn btn-dark custom-btn ml-5">
                      Richiedi reso
                    </button>
                  </div>

                </td>
              </tr>
              <tr *ngIf="orderService.showProductsMapOrder[item.id]">
                <td colspan="2">
                  <div *ngFor="let product of orderService.productInOrder">
                    <p class="prodottoOi">{{ product.name }} - {{ product.total }} €</p>
                  </div>
                </td>
              </tr>
            </ng-container>

            </tbody>
          </table>
        </div>
      </section>
    </div>

  </div>

</section>

<footer>
  <app-footer></app-footer>
</footer>

</body>
</html>
