.test{
  background-color: black;
  width: 35vw;
}

.aldo{
  gap: 4vh;
  margin-top: 2%;
}

footer {
  background-color: #352244;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.textBoxAggiunta{
  width: 17vw;
}
