<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<section class="d-flex flex-row align-items-center aldo">
  <div class="ml-4">
    <app-user-management-container></app-user-management-container>
  </div>


  <div class="container-fluid d-flex flex-column align-items-center aldo">


      <h1 class="title">METODI DI PAGAMENTO</h1>


      <div class="form-group d-flex flex-column align-items-center aldos">
        <label>Seleziona la tua carta di credito:</label>
        <select class="form-select selectionIn btn btn-dark custom-bln" (change)="onCardChange($event)">
          <option *ngFor="let card of cardService.cardsName" [value]="card">{{card}}</option>
        </select>
      </div>

      <section class="form-group d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center">

          <div class="d-flex flex-row align-items-center">
            <div class="form-group">
              <label for="cardNumber">Numero della carta:</label>
              <input type="text" class="form-control textBoxAggiunta" id="cardNumber" [placeholder]="cardService.cartaCorrente?.cardNumber" readonly>
            </div>

            <div class="form-group ml-3">
              <label for="cardHolderName">Titolare della carta:</label>
              <input type="text" class="form-control textBoxAggiunta" id="cardHolderName" [placeholder]="cardService.cartaCorrente?.owner" readonly>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center">
            <div class="form-group">
              <label for="expirationDate">Data di scadenza:</label>
              <input type="text" class="form-control textBoxAggiunta" id="expirationDate" [placeholder]="cardService.cartaCorrente?.expiryDate"  readonly>
            </div>
            <div class="form-group ml-3">
              <label for="cvv">Codice di sicurezza (CVV):</label>
              <input type="text" class="form-control" id="cvv" [placeholder]="cardService.cartaCorrente?.cvv" readonly>
            </div>
          </div>

        </div>
      </section>

      <div class="row mb-3">
        <button type="button" class="btn btn-dark custom-btn mr-5" (click)="popUpService.openPopups(7,true)">Aggiungi nuova carta</button>
        <button type="button" class="btn btn-danger" style="border: black solid 1px" (click)="this.deleteCard()">Elimina carta</button>
      </div>

    </div>


</section>


</body>
<footer>
  <app-footer></app-footer>
</footer>

</html>
