<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<section class="d-flex flex-row align-items-center aldo">
  <div class="ml-4">
    <app-user-management-container></app-user-management-container>
  </div>




    <div class="container-fluid d-flex flex-column align-items-center">


      <div class="form-group d-flex flex-column align-items-center">
        <label for="selectCard">Seleziona la tua carta di credito:</label>
        <select class="form-select" id="selectCard">
          <option value="card1">Carta 1</option>
          <option value="card2">Carta 2</option>
          <option value="card3">Carta 3</option>
          <option value="card4">Carta 4</option>
        </select>


      </div>

      <section class="form-group d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center">

          <div class="d-flex flex-row align-items-center">
            <div class="form-group ml-3 d-flex flex-column">
              <label for="cardHolderName">Tipo strada:</label>
              <select class="form-select selectionIn btn btn-dark custom-bln" id="selectCard" [disabled]="!inputAbilitato">
                <option value="card1">Via</option>
                <option value="card2">Borgo</option>
                <option value="card3">Piazza</option>
                <option value="card4">Carta 4</option>
              </select>
            </div>

            <div class="form-group ml-3">
                <label for="cardHolderName">Nome strada:</label>
                <input type="text" class="form-control" id="cardHolderName" maxlength="30" placeholder="{{getUserData.getCardInformation()}}" [readonly]="!inputAbilitato">
            </div>
            <div class="form-group ml-3">
              <label for="cap">Codice postale (CAP):</label>
              <input type="text" class="form-control" id="cap" maxlength="30" placeholder="{{getUserData.getCardInformation()}}" [readonly]="!inputAbilitato">
            </div>
            <div class="form-group ml-3">
              <label for="prov">Provincia:</label>
              <input type="text" class="form-control" id="prov" maxlength="30" placeholder="{{getUserData.getCardInformation()}}" [readonly]="!inputAbilitato">
            </div>
          </div>

          <div class="d-flex flex-row align-items-center">
            <div class="form-group">
              <label for="expirationDate">N° civico:</label>
              <input type="text" class="form-control" id="expirationDate" maxlength="30" placeholder="{{getUserData.getCardInformation()}}" [readonly]="!inputAbilitato">
            </div>
            <div class="form-group ml-3">
              <label for="cvv">Città:</label>
              <input type="text" class="form-control" id="cvv" maxlength="30" placeholder="{{getUserData.getCardInformation()}}" [readonly]="!inputAbilitato">
            </div>
            <div class="form-group ml-3">
              <label for="cvv">Regione:</label>
              <input type="text" class="form-control" id="cvv" maxlength="30" placeholder="{{getUserData.getCardInformation()}}" [readonly]="!inputAbilitato">
            </div>
          </div>

        </div>
      </section>


      <div class="row mb-3">
        <button type="button" class="btn btn-primary mr-5" (click)="abilitaInput()">Aggiungi nuovo indirizzo</button>
        <button type="button" class="btn btn-primary" (click)="abilitaInput()">{{testoButton}}</button>
      </div>

    </div>


</section>


</body>
<footer>
  <app-footer></app-footer>
</footer>

</html>
