<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Report</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<div class="container-fluid">
  <button class="btn btn-primary custom-btn" (click)="openPersonalData($event)"><i class="fas fa-address-card"></i></button>
  <button class="btn btn-primary custom-btn" (click)="openAddressData($event)"><i class="fas fa-map-marker-alt"></i></button>
  <button class="btn btn-primary custom-btn" (click)="openPaymentData($event)"><i class="fas fa-credit-card"></i></button>
  <button class="btn btn-primary custom-btn" (click)="openWishList($event)"><i class="fas fa-heart"></i></button>
  <button class="btn btn-primary custom-btn" (click)="popUpService.openPopupFriends()"><i class="fas fa-shopping-cart"></i></button>
  <button class="btn btn-primary custom-btn" (click)="openHelpRequest($event)"><i class="fas fa-headset"></i></button>
</div>

</html>
