<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Report</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>

  <div class="container-fluid">
    <mat-progress-spinner class="uSpinner" *ngIf="this.keyCloak.loading" mode="indeterminate" color="primary"></mat-progress-spinner>
    <button *ngIf="this.keyCloak.getAdmin()" class="btn btn-primary custom-btn" (click)="changePage($event,'admin-area')"><i class="fas fa-arrow-left"></i></button>
    <button class="btn btn-primary custom-btn" (click)="openPersonalData()"><i class="fas fa-address-card"></i></button>
    <button class="btn btn-primary custom-btn" (click)="openAddressData()"><i class="fas fa-map-marker-alt"></i></button>
    <button class="btn btn-primary custom-btn" (click)="openPaymentData()"><i class="fas fa-credit-card"></i></button>
    <button *ngIf="!this.keyCloak.getAdmin()" class="btn btn-primary custom-btn" (click)="openWishList()"><i class="fas fa-heart"></i></button>
    <button class="btn btn-primary custom-btn" (click)="openOrderSummary()"><i class="fas fa-shopping-cart"></i></button>
    <button *ngIf="!this.keyCloak.getAdmin()" class="btn btn-primary custom-btn" (click)="openHelpRequest()"><i class="fas fa-headset"></i></button>
  </div>
</body>
</html>
