.btn i {
  padding: 10px 20px;

  font-size: 40px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
}
.btn i {
  margin-right: 10px;
}
@media (max-width: 550px) {
  .btn{
    width: 100px;
  }

}
