<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container p-lg-5">
  <label for="selectAddress">Seleziona il tuo indirizzo:</label>
  <p></p>
  <select class="form-select" id="selectAddress">
    <option value="indirizzo1">Indirizzo 1</option>
    <option value="indirizzo2">Indirizzo 2</option>
    <option value="indirizzo3">Indirizzo 3</option>
    <option value="indirizzo4">Indirizzo 4</option>
  </select>
</div>

<section class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="street">Via:</label>
          <input type="text" class="form-control" id="street" maxlength="30" placeholder="{{getUserData.getAddresses()}}" [readonly]="!inputAbilitato">
        </div>
        <div class="form-group">
          <label for="city">Città:</label>
          <input type="text" class="form-control" id="city" maxlength="30" placeholder="{{getUserData.getAddresses()}}" [readonly]="!inputAbilitato">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="state">Stato:</label>
          <input type="text" class="form-control" id="state" maxlength="30" placeholder="{{getUserData.getAddresses()}}" [readonly]="!inputAbilitato">
        </div>
        <div class="form-group">
          <label for="CAP">Codice postale (CAP):</label>
          <input type="text" class="form-control" id="CAP" maxlength="30" placeholder="{{getUserData.getAddresses()}}" [readonly]="!inputAbilitato">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-primary" (click)="abilitaInput()">Aggiungi nuovo indirizzo</button>
        <button type="button" class="btn btn-primary" (click)="abilitaInput()">Modifica</button>
      </div>
    </div>
</section>

<div class="container p-lg-5">
  <label for="selectCard">Seleziona la tua carta di credito:</label>
  <p></p>
  <select class="form-select" id="selectCard">
    <option value="card1">Carta 1</option>
    <option value="card2">Carta 2</option>
    <option value="card3">Carta 3</option>
    <option value="card4">Carta 4</option>
  </select>
</div>

<section class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="cardNumber">Numero della carta:</label>
        <input type="text" class="form-control" id="cardNumber" maxlength="30" placeholder="{{getUserData.getCardInformation()}}" [readonly]="!inputAbilitato">
      </div>
      <div class="form-group">
        <label for="cardHolderName">Titolare della carta:</label>
        <input type="text" class="form-control" id="cardHolderName" maxlength="30" placeholder="{{getUserData.getCardInformation()}}" [readonly]="!inputAbilitato">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="expirationDate">Data di scadenza:</label>
        <input type="text" class="form-control" id="expirationDate" maxlength="30" placeholder="{{getUserData.getCardInformation()}}" [readonly]="!inputAbilitato">
      </div>
      <div class="form-group">
        <label for="cvv">Codice di sicurezza (CVV):</label>
        <input type="text" class="form-control" id="cvv" maxlength="30" placeholder="{{getUserData.getCardInformation()}}" [readonly]="!inputAbilitato">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary" (click)="abilitaInput()">Aggiungi nuova carta</button>
      <button type="button" class="btn btn-primary" (click)="abilitaInput()">Modifica</button>
    </div>
  </div>
</section>
  <div class="container finalButton ">
    <div class="row">
      <div class="endButtons col-md-6">
        <button type="button" class="button btn-secondary" (click)="goBackToCart()">Annulla</button>
        <button type="button" class="button btn-primary" (click)="proceed()">Procedi</button>
    </div>
  </div>
</div>
</body>
<footer>
  <app-footer></app-footer>
</footer>
</html>
